[2022-01-17 13:17] oskardudycz commented on #2844
That's done already.

[2022-01-17 13:17] #2844 closed

[2022-01-17 13:19] oskardudycz commented on #2583
Closing it, as migration eventually helped, plus we're not using Mono anymore in the newer versions.

[2022-01-17 13:19] #2583 closed

[2022-01-17 16:53] condron commented on #1057
I think this needs some deeper thought around the various ways streams and categories interplay, more than a quick implementation of the suggestion directly.
For example, one of the benefits of the new stream information (from the roadmap) is the ability to easily query and view the streams with their basic information (age, size, etc.)
This would be a more powerful way to address this and not run

[2022-01-17 17:27] condron commented on #2223
The new stream creation record will allow this type of thing.
For right now any event written to the stream will create it, so just have something write a "reservation" message to the stream.
No need for that to be the producer.
Then the consumers/actors/et. al, can simply ignore the reserved event.

[2022-01-18 15:51] oskardudycz commented on #785
Per discussion with @condron, as there was no major activity on the ticket and HTTP API is considered legacy, I'm closing the ticket.

[2022-01-18 15:51] #785 closed

[2022-01-18 18:05] condron commented on #1850
@jageall please review if the new proposed changes with checkpoints will either address or enable this as a default.

[2022-01-18 18:21] condron commented on #1744
This will be addressed with the new log features.

[2022-01-18 18:21] #1744 closed

[2022-01-18 18:23] #1645 closed

[2022-01-18 18:29] condron commented on #1957
We have replaced the projection engine in the current version and
a full overhaul of the projection engine API is on the roadmap.

While I don't think this suggestion will be incorporated directly
as the new API will not work in the same way the core desire to
allow straightforward automated loading of projections will be supported.

[2022-01-18 18:29] #1957 closed

[2022-01-18 18:31] condron commented on #1784
Obsolete. The new parser has replaced V8 for projection processing.

[2022-01-18 18:31] #1784 closed

[2022-01-19 09:25] oskardudycz commented on #1195
@jageall, @condron, @hayley-jean, that's an interesting use case for using ESDB as a messaging/streaming platform. I'm not sure if that's the direction we'd like to go, but if we do, then it's worth considering if we plan to clean automatically consumed messages (e.g. like RabbitMQ). My guess is that could be useful even for some of our customers.

[2022-01-19 09:31] oskardudycz commented on #1315
Closing it because of the inactivity.

[2022-01-19 09:31] #1315 closed

[2022-01-19 09:45] oskardudycz commented on #3353
@jageall, @condron, do we plan to support NPM packages for projections in the future?

[2022-01-19 09:46] oskardudycz commented on #2080
I'm closing that because of the inactivity, but I'm willing to open it if anyone is still facing this issue.

[2022-01-19 09:46] #2080 closed

[2022-01-19 10:06] oskardudycz commented on #2644
This was fixed by changes to CI made by @thefringeninja.

[2022-01-19 10:06] #2644 closed

[2022-01-19 10:09] oskardudycz commented on #2810
@pvanbuijtene, it might be worth checking it after the fix to Healthcheck I made in: https://github.com/EventStore/TrainStation/pull/118.

[2022-01-19 10:10] oskardudycz commented on #2793
Closing it because of inactivity and primarily because, as @alexeyzimarev described, it's more of a current design choice than a bug.

[2022-01-19 10:10] #2793 closed

[2022-01-19 10:14] oskardudycz commented on #3144
@condron, @jageall, @hayley-jean, is this something that we plan to support in some form in the future?

[2022-01-19 12:43] jageall opened #3389 "Missing server features for persistent subscription operations"
https://github.com/EventStore/EventStore/pull/3352 adds management functions for persistent subscriptions, but doesn't add them to the server features so clients cannot tell if they need to use http or grpc

[2022-01-19 12:44] pvanbuijtene commented on #2632
Closing for now.

[2022-01-19 12:44] #2632 closed

[2022-01-19 13:27] #2735 closed

[2022-01-19 14:20] condron commented on #3144
Yes this is on the road map.

[2022-01-19 14:34] condron commented on #3353
The security risks of running dynamically loaded and unverified packages inside the DB seem to be significant, and there are challenges with being able to provide a deterministic performance profile with such a variable execution set.

We are committed to improving the programing experience in projections and consider them to be a key feature.

It does not seem at this time that loading NPM packag

[2022-01-19 15:18] brian-scb commented on #3353
Yes, it makes sense to not allow NPM packages for security! Still feel like it could be useful to install a javascript file and make it available for use in projections.

[2022-01-20 07:58] oskardudycz commented on #3353
@brian-scb, @condron I think that we could try to handle that by giving guidance on how to bundle files and potentially npm modules into a single file using tools like WebPack or so.

[2022-01-20 08:44] StevenBlair123 opened #3391 "Regular Expression for server side filtering kills eventstore"
**Describe the bug**
Setting a specific regular expression for StreamFilter.RegularExpression (I haven't been brave enough to try EventTypeFilter) causes the evenstore to stop running, and continues to repeat the error on restart.
This is for a Persistent Subscription

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
If the regular expression is invalid (the persist

[2022-01-20 08:52] StevenBlair123 opened #3392 "EventFilter does not asppear to work for serverside filtering"
**Describe the bug**
I created an EventTypeFilter.Prefix for my Persistent Subscription.
After conencting to the subscription, no events appeared.

**To Reproduce**
Steps to reproduce the behavior:

_var filter = EventTypeFilter.Prefix("OrganisationCreatedEvent");
await client.CreateToAllAsync(groupName,
                                          filter,
                                          se

[2022-01-20 08:54] StevenBlair123 commented on #3391
The Evenstore I tested this on no longer starts. The services is on an auto restart, and we cna get sometiems get to the dashboard / projections tab before it falls again.

[2022-01-20 08:56] StevenBlair123 opened #3393 "Serverside filtering to allow chained ExcludeSystemEvents and Prefix"
**Is your feature request related to a problem? Please describe.**
When building a server side filter, I would like to be able to do the following:

`var filter = EventTypeFilter.ExcludeSystemEvents().Prefix("Sales-");`

**Describe the solution you'd like**
I think ignoring system events **and** applying a filter would be a popular option when building a filter.

**Describe alternatives you've con

[2022-01-20 11:36] StevenBlair123 opened #3394 "Delete fromAll persistent subscription from UI"
**Describe the bug**
Attempt to delete a fromAll Persistent Subscription from the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Hit delete on the fromAll Perisistent subscription

**Expected behavior**
Susbcription should be deleted.

**Actual behavior**
![image](https://user-images.githubusercontent.com/13871941/150331417-605a1b99-8c00-4303-b518-90884a716692.png)

**Config/Logs/Screens

[2022-01-20 11:55] timothycoleman opened #3395 "PersistentConfig1 system event does not begin with $"
So it shows up in, for example, $all persistent subscriptions with ExcludeSystemEvents

<sub>[DB-164](https://linear.app/eventstore/issue/DB-164/persistentconfig1-system-event-does-not-begin-with-dollar)</sub>

[2022-01-20 11:58] StevenBlair123 commented on #3395
@timothycoleman - even though we shouldn't see these events, why is it the full history of the persistent subscription appears to be preserved.

In my example, I received all these events:
[PersistentConfig1.txt](https://github.com/EventStore/EventStore/files/7904884/PersistentConfig1.txt)

[2022-01-20 12:02] timothycoleman commented on #3395
@StevenBlair123 when reading from $all you get whatever is in the database, the metadata restrictions like maxage and maxcount are not applied. if a scavenge is performed only the last 2 records will be kept in this case and after that only those two would appear in the subscription

[2022-01-20 12:09] StevenBlair123 commented on #3395
Would that apply for a catchup on fromAll as well?
It's maybe not a big problem, since I am constantly deleting / creating the same persistent subscription for testing.
In production, I suspect we would not see this.

[2022-01-20 12:16] timothycoleman commented on #3395
Yeah it'll be the same for $all catchup subscriptions, and $all reads, too

[2022-01-20 12:27] StevenBlair123 opened #3396 "fromAll Persistent Subscription returns the same event multiple times"
**Describe the bug**
Persistnt Susbcription to fromAll is running and I add a new event.
I receive this event 4 times:

ProductCreated - **Product-6** - {
  "productId": 6
}
ProductCreated - **$streams** - {
  "productId": 6
}
ProductCreated - **$et-ProductCreated** - {
  "productId": 6
}
ProductCreated - **$ce-Product** - {
  "productId": 6
}

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-01-20 13:55] kodeine commented on #2960
I think this is really important otherwise theres a huge gap missing. I was shocked to see this feature was missing as it is a common use case.

[2022-01-21 09:11] oskardudycz commented on #2702
@jageall @hayley-jean, what do we want to do with this one? It seems to me that it'd be worth aligning the API and UI? Do we want to keep the UI enabled one-time and transient projections creation?

[2022-01-21 09:27] oskardudycz commented on #3027
@tambeau, do we still want to do that?

[2022-01-21 09:29] oskardudycz commented on #3136
@hayley-jean, @jageall is it a feature or a bug? 😉

[2022-01-21 09:33] oskardudycz commented on #3013
@pvanbuijtene, @hayley-jean, @ylorph, maybe we could just describe that in README and docs?

[2022-01-21 11:15] oskardudycz commented on #2998
@TanvirArjel, I prepared a configuration on how to use a TCP secured connection: https://github.com/EventStore/EventStoreDB-Client-Dotnet-Legacy/pull/46.

Just a reminder, that TCP client is considered legacy. We recommend migrating to the gRPC client. gRPC client has a useful configurator tool that helps to set up both ESDB config and connection string: https://configurator.eventstore.com/.

I'm

[2022-01-21 11:15] #2998 closed

[2022-01-24 09:20] oskardudycz commented on #3393
I agree that would be good to have. Unfortunately, as I know, there are no plans to add this feature. This might change in Log V3, but there is no set time and plan for that yet.

[2022-01-24 09:20] #3393 closed

[2022-01-24 09:24] oskardudycz commented on #3392
@StevenBlair123, could you try to check version `21.10.1` and confirm if it's still appearing? Persistent subscriptions to `$all` are supported officially from the version `21.10`.

[2022-01-24 09:26] oskardudycz commented on #3391
@jageall, @timothycoleman, were you able to reproduce the issue?

I think that we should also make sure that we're validating regexp in all subscription filters both on clients and database level.

[2022-01-24 09:39] oskardudycz commented on #3396
@StevenBlair123, could you confirm if you're not setting the `resolveLinkTos` param set to true? If you do, you may get events multiple times, as it will also get events generated by system projections (e.g. by category). They're emitting the link events that will have the same data as the original one after resolution. You can see looking at the event ids if they're indeed the same events or not.

[2022-01-24 09:42] StevenBlair123 commented on #3396
@oskardudycz  - yeah I had resolveLinkTos set to true.
Ran the test again, and can confirm 4 different events arrived.
Still unsure why only 1 event appears after the persistent subscription and re-create it (with resolveLinkTos set to true)

[2022-01-24 10:20] hayley-jean commented on #1574
This should be fixed in versions 20.10 and greater as we don't forward writes between nodes over HTTP any more.

[2022-01-24 10:20] #1574 closed

[2022-01-24 10:39] hayley-jean commented on #3395
We could possibly "fix" this by filtering out the `PersistentConfig1` events in the specific event type in the filter used by persistent subscriptions. We already use this to filter out the persistent subscription's checkpoint events

The name should definitely start with a `$`, but this would likely be a breaking change for persistent subscriptions.

[2022-01-24 12:49] hayley-jean commented on #3136
The start position for a subscription is exclusive. In the dotnet client `EventNumber.Start` is actually position `0`, so you will only receive the next event after that.

If you don't have a checkpoint to start from, then using the overload that doesn't take a start position is the correct way to subscribe

[2022-01-24 13:07] hayley-jean commented on #3389
The features should already be there because new endpoints are picked up automatically

[2022-01-24 13:07] #3389 closed

[2022-01-24 14:36] hayley-jean commented on #3391
@StevenBlair123 we've not been able to reproduce this issue. Could you provide more logs showing the server crash and restarts?

[2022-01-24 19:27] StevenBlair123 commented on #3391
@hayley-jean - we passed over all the logs that we had.
We have been trying to replicate the issue here as well, without any luck.
The server started back up after we deleted the subscription (I ran a console app which flooded the service with a Delete request)

[2022-01-25 04:57] shaan1337 commented on #3391
@StevenBlair123 do you still have the chunk files from the database that won't start up and would it be feasible for you to share them?

[2022-01-25 08:47] StevenBlair123 commented on #3391
@shaan1337  - I will ask the powers that be if we can share.

[2022-01-25 09:21] StevenBlair123 opened #3400 "An event emitted in recovery for stream"
**Describe the bug**
Running a multi stream projection and the following errors occurs:

An event emitted in recovery for stream (red banner on the projection details screen)

**To Reproduce**
Steps to reproduce the behavior:
1. Create multi stream projection
2. At some stage reset one or more of the soruce streams
3. Run scavenge (I can't be sure this is part of the problem)
4. Allow the projecti

[2022-01-25 09:51] hayley-jean commented on #3400
That error means that there is a difference between what the projection emitted before, and what it wants to emit now.

When a projection starts running, it loads up the last checkpoint and does a bit tof catching up to find where it needs to continue from. During this catch up stage, it will read through the source stream and create the events it would normally emit. It then compares those events

[2022-01-25 09:58] StevenBlair123 commented on #3400
@hayley-jean  -  thanks for quick response.

My current checkpoint looks like this:

_{
  "$v": "40:-1:1:4",
  "$s": {

    "$et-DeliveryItemAddedEvent": 970972,
    "$et-DeliveryItemSubstitutedEvent ": -1,
    "$et-OrderItemAddedEvent": 1116712,
    "$et-StoreProductMinimumProductLevelChangedEvent": 267519,
    "$et-SalesTransactionLineAddedEvent": 4350563,
    "$et-StoreProductStockUpdatedEvent"

[2022-01-25 10:09] StevenBlair123 commented on #3395
[181@$persistentSubscriptionConfig.txt](https://github.com/EventStore/EventStore/files/7932601/181%40.persistentSubscriptionConfig.txt)
[182@$persistentSubscriptionConfig.txt](https://github.com/EventStore/EventStore/files/7932602/182%40.persistentSubscriptionConfig.txt)

[2022-01-25 10:49] StevenBlair123 commented on #3395
[76@$persistentSubscriptionConfig.txt](https://github.com/EventStore/EventStore/files/7932894/76%40.persistentSubscriptionConfig.txt)
[77@$persistentSubscriptionConfig.txt](https://github.com/EventStore/EventStore/files/7932895/77%40.persistentSubscriptionConfig.txt)

[2022-01-25 13:09] StevenBlair123 commented on #3400
I reset the projection, and after a while get this error:

_The StoreProductEnricher projection failed to process an event. Handler: EventStore.Projections.Core.Services.Interpreted.JintProjectionStateHandler Event Position: $et-DeliveryItemAddedEvent: 687151; $et-DeliveryItemSubstitutedEvent : -1; $et-OrderItemAddedEvent: 784991; $et-StoreProductMinimumProductLevelChangedEvent: 185826; $et-SalesT

[2022-01-25 14:17] timothycoleman commented on #3395
@hayley-jean im not sure it would break the persistent subscriptions actually, the name only appears in one place in the code (where the event is created) perhaps the subscriptions themselves just read any event in the config stream rather than filtering by event type

[2022-01-25 14:19] timothycoleman commented on #3391
Spent some time with @StevenBlair123 on this, looks like it was the deadlock that can sometimes occur when creating a persistent subscription in 21.6 https://github.com/EventStore/EventStore/pull/3344, which has since been fixed. The nature of the regex and the uriexception appear to be red-herrings in this case.

Side note, the server does validate the provided regex and will fail the grpc call w

[2022-01-25 14:24] StevenBlair123 commented on #3391
@timothycoleman - thanks a lot for this.

[2022-01-25 14:41] timothycoleman commented on #3391
Welcome - I'll close this, let me know if there's anything further

[2022-01-25 14:41] #3391 closed

[2022-01-25 16:02] tambeau opened #3403 "Standardize .Net gRPC client deadlines"
Standardize deadlines across clients

- [ ] Use defaultDeadline as a global setting and deadline as an operation-level setting
- [ ] Return a DeadlineExceeded error in all gRPC clients
- [ ] Set reads & subscriptions timeouts to infinity
- [ ] Specifying deadlines on each operation
- [ ] Default deadline is for non-streaming operations (writes, management operations) - should be set 10 seconds for

[2022-01-25 16:13] tambeau commented on #3403
Issue moved to [EventStore/EventStore-Client-Dotnet #184](https://github.com/EventStore/EventStore-Client-Dotnet/issues/184) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-25 16:13] #3403 closed

[2022-01-26 08:02] JoschaMetze commented on #2784
This is the "old" TCP client, that was never updated. We'll have to use the new GRPC based (which doesn't have the dependency to protobuf-net)

[2022-01-26 08:41] oskardudycz commented on #3333
@StevenBlair123, I'm closing it because of inactivity, but if @hayley-jean's suggestion didn't help, feel free to comment, I'll reopen it.

[2022-01-26 08:41] #3333 closed

[2022-01-26 08:43] oskardudycz commented on #3312
@shaan1337, do you have some thoughts on that?

[2022-01-26 09:04] oskardudycz commented on #3396
Could you send us that one event that you're getting after recreation? It'd be also great if you could share your persistent subscriptions (and database) config so we could try to reproduce it.

[2022-01-26 09:17] oskardudycz commented on #2545
@thefringeninja, do you know if that issue is fixed? I know that we did a lot of work in this area within last year.

[2022-01-26 09:27] oskardudycz commented on #1772
I'm closing it due to inactivity.

[2022-01-26 09:27] #1772 closed

[2022-01-26 09:34] oskardudycz commented on #2018
There is no separation between internal and external interfaces now. The external TCP interface will be removed when fully deprecates the TCP client.

[2022-01-26 09:34] #2018 closed

[2022-01-26 11:07] oskardudycz commented on #2237
@thefringeninja, @condron, is this something that we could close? Mentioned tests seem to be stable, and the gRPC client issue is closed.

[2022-01-26 11:25] StevenBlair123 commented on #3396
@oskardudycz - the server where we saw the problem is now on 21.01.1 and is return us 4 events after recreation (I think this is expected).
I tried locally on a 21.6 and I can't replicate it (I get an error creating the fromAll persistent subscription.

_25612,18,11:13:02.178,ERR] Error while processing message "EventStore.Core.Messages.ClientMessage+CreatePersistentSubscription" in queued handler

[2022-01-26 11:30] #2112 closed

[2022-01-26 11:34] oskardudycz commented on #2146
@thefringeninja, @hayley-jean, do we plan to make it an official Docker image?

[2022-01-26 13:00] oskardudycz commented on #3396
OK, thank you. As mentioned, we had to fix some issues that we observed in that version. I'm glad that it's working in the latest version. By default, we're not doing backports to non-LTS versions.

I'm going to close the issue.

[2022-01-26 13:00] #3396 closed

[2022-01-26 13:34] ahjohannessen commented on #2545
I am on esdb v21.10.1 now and the code that I suspected had a part in this issue was removed [here](https://github.com/EventStore/EventStore/commit/53cea335d3f7e74fe31b2ec52981c33772ecc151#diff-f616ce365ffcddd8d7de523894eeb131cb9aec68a84dbd529841f655fa6f5966). Moreover, I cannot recall having this issue in a *long* while.

[2022-01-26 13:35] thefringeninja commented on #2545
Thank you @ahjohannessen. Closing this issue for now.

[2022-01-26 13:35] #2545 closed

[2022-01-26 14:03] thefringeninja commented on #2146
@oskardudycz don't think it's going to happen

docker-library/official-images#5327

[2022-01-26 14:17] StepanGrishanov opened #3404 "---!!! VERY SLOW QUEUE MSG under high load"
**Describe the bug**

(All nodes in cluster change state to "Dead" after frequent send messages operations in stream.)

Hello, we receive a lot of errors that look like this

{"@t":"2022-01-25T19:15:51.6820314+03:00","@mt":"---!!! VERY SLOW QUEUE MSG [{queue}]: {message} - {elapsed}ms. Q: {prevQueueCount}/{curQueueCount}.","@l":"Error","@i":365459309,"queue":"StorageReaderQueue #2","message":"Read

[2022-01-26 16:51] tambeau commented on #3084
Note: The following server protocols have been added:
 ReplayParkedMessages
 GetInfo
 RestartPersistentSubscriptionSubsystem
 ListAll
 ListForStream
 SubscribeToAll

[2022-01-26 17:12] timothycoleman commented on #2209
Hi @jezovuk, the backup documentation has been elaborated on since you asked your question

https://developers.eventstore.com/server/v21.10/operations/database-backup.html#differential-backup-restore

an explicit order that works is chaser, epoch, writer, proposal

the purpose of the epoch checkpoint is to point to the last epoch record in the log. the epochs themselves point to the previous epoch

[2022-01-27 07:48] #2209 closed

[2022-01-27 08:03] #2237 closed

[2022-01-27 08:08] oskardudycz commented on #2146
Ok, then I'm closing it for now. We can reopen it or create a new issue if we want to revive this idea in the future.

[2022-01-27 08:08] #2146 closed

[2022-01-27 09:39] hayley-jean commented on #3395
Ah you're right! I can't see anywhere in the code that's checking the event type when reading it out.
Given that the config events are only written to a system stream we should be able to change the event type without it being a breaking change

[2022-01-27 09:50] oskardudycz commented on #2508
I'm closing the issue, as the embedded API test project is not existing anymore.

[2022-01-27 09:50] #2508 closed

[2022-01-27 09:56] oskardudycz commented on #1689
As there is no work currently done in this area, I'm closing the issue. We can reopen it if the Embedded client is revived.

[2022-01-27 09:56] #1689 closed

[2022-01-27 09:58] oskardudycz commented on #2880
@ahjohannessen, could you try that with the latest release (`21.10.1`) and check if it's still the case?

[2022-01-27 14:17] milkshakeuk commented on #3068
@shaan1337 @oskardudycz @alexeyzimarev has there been any progress on this?

[2022-01-27 16:53] ahjohannessen commented on #2880
@oskardudycz I did not experience that error when upgrading our cluster from 20.10.5 -> 21.10.1. Closing this.

[2022-01-27 16:53] #2880 closed

[2022-01-28 08:08] oskardudycz commented on #2880
@ahjohannessen, thank you for the feedback! Glad to read that, luckily it seems that we're making a progress here 😅

[2022-01-28 08:37] oskardudycz commented on #3395
@hayley-jean, do you know if that event can have any value for the users? I'm asking because that may be behaviour breaking change if someone has some logic around that (I hope not 😉 ).

[2022-01-28 09:09] oskardudycz commented on #3404
Could you provide more details on your configuration (database version, configuration, system, hosting type, disk, load characteristics etc.). This case may happen if the nodes cannot communicate with each other. Our guess is that it might be a disk latency issue or batch size, but to say more precisely we'll need more information about your setup.

[2022-01-28 09:14] oskardudycz commented on #2850
Unfortunately, that's the expected behaviour. I agree that this would be good information to have while getting a drop callback, but this is something that was consistent in the old versions. For sure we cannot know if `Dispose` method was called by the application code, or just regular .NET disposal, but for Close it'd make sense. As TCP client is considered legacy, we don't plan to change it, bu

[2022-01-28 09:14] #2850 closed

[2022-01-28 09:16] oskardudycz commented on #2484
This was fixed in 21.10.

[2022-01-28 09:16] #2484 closed

[2022-01-28 09:24] oskardudycz commented on #2724
In ES Cloud it's currently expected to use Gossip Seeds. We're discussing internally and planning to improve the discovery to not require keeping IP addresses in the certificate, but that will be handled in a dedicated issue.

I'm going to close this one for now.

[2022-01-28 09:24] #2724 closed

[2022-01-28 09:29] oskardudycz commented on #3031
Currently, that's expected behaviour, as we recommend using HTTPS in the production environment. But I agree that we should not allow anonymous access in general. I think that's something to consider in one of the next releases, to at least make opt-in. I know that some customers (especially running Kubernetes) are using HTTP traffic behind VPC, that's quite common practice.

@hayley-jean FYI.

[2022-01-28 09:33] oskardudycz commented on #2743
This was fixed in 21.10. @hayley-jean tested and it works for empty file now.

[2022-01-28 09:33] #2743 closed

[2022-01-28 09:37] oskardudycz commented on #2874
Closing because of the inactivity.

[2022-01-28 09:37] #2874 closed

[2022-01-28 09:40] oskardudycz commented on #2763
@stefanzueger, could you check version `21.10.1`? The fix is included there. I'm going to close this issue, but if you find out that's still the case, I'll reopen it.

[2022-01-28 09:40] #2763 closed

[2022-01-28 09:42] oskardudycz commented on #3005
This was fixed by #3014.

[2022-01-28 09:42] #3005 closed

[2022-01-28 09:42] oskardudycz commented on #3106
Closing it because of inactivity.

[2022-01-28 09:42] #3106 closed

[2022-01-28 09:44] oskardudycz commented on #3120
Closing because of the inactivity.

[2022-01-28 09:44] #3120 closed

[2022-01-28 09:49] oskardudycz commented on #2049
Closing it as a duplicate of https://github.com/EventStore/EventStore/issues/3149.

[2022-01-28 09:49] #2049 closed

[2022-01-28 09:57] oskardudycz commented on #1648
@timothycoleman is this something that we consider doing while making scavenge improvements?

[2022-01-28 10:05] oskardudycz commented on #2464
@nitram509, I think that this backup procedure is covered now: https://developers.eventstore.com/server/v21.10/operations/database-backup.html. Could you check if something is missing from your perspective?

I'm going to close this issue, but feel free to send feedback, then I'll reopen it if more clarifications are needed.

[2022-01-28 10:05] #2464 closed

[2022-01-28 10:28] ahjohannessen commented on #1648
@oskardudycz I think it would be great to specify a temporary directory for scavenge, e.g. on zfs I would use a different dataset for temporary files to avoid getting those in snapshots.

[2022-01-28 13:46] #3226 closed

[2022-01-31 08:59] hayley-jean commented on #2520
Hi @mmigala, It's possible to get a `WrongExpectedVersion` when using `ExpectedVersion.Any` if part of a batch has been committed, but not all of it.

For example, you could see this if you wrote an event to a stream with a specific EventId, and then tried to append a batch with more events in it but still containing an event with the same EventId as the previously-written event.

[2022-01-31 09:19] oskardudycz commented on #2723
@Reris that should be fixed in the newer LTS versions. Could you check with the latest one `21.10.1`?

[2022-01-31 09:19] #2723 closed

[2022-01-31 09:35] oskardudycz commented on #2055
@ylorph, @hayley-jean, as we discussed, we should try that and document/verify how we'd like that to work.

[2022-01-31 10:09] hayley-jean commented on #3395
@oskardudycz It shouldn't do, and you can get access to the subscription config through the various APIs rather than reading it from the stream. The subscription config is also written to a system stream (starting with a `$`), which we usually recommend against relying upon.

[2022-01-31 10:18] hayley-jean commented on #3400
You can try increase the `ProjectionCompilationTimeout` and `ProjectionExecutionTimeout` settings and see if that resolves the issue

[2022-01-31 10:29] hayley-jean commented on #1195
At the moment the way to do this would be to subscribe to the checkpoint stream yourself and truncate as the checkpoints are written. It is an interesting use case, but I don't know that we'll be looking at it in the near future

[2022-01-31 10:39] hayley-jean commented on #2702
There are some changes that still need to be made to the projections gRPC API, which should clear up some of those discrepencies.

However, we will be removing support for `OneTime` and `Transient` projections from the gRPC API in the future, as we would like to focus on `Continuous` projections only.
@yreynhout do you have a use-case for using `OneTime` or `Transient` projections through client c

[2022-01-31 11:20] yreynhout commented on #2702
Hi, @hayley-jean, I do not - I was just reviewing it at the time and noticed the differences. I had a follow-up call (a long time ago) about this issue with @jageall and @ylorph.

[2022-01-31 13:52] condron commented on #1195
I don't think there is enough information to provide useful checkpointing information on the events as they are delivered. This is compounded by issues of retries and multiple consumers.
Consuming the checkpoint stream is the only way this would really work.
We might consider adding a metadata update capacity to the projection engine to automate this. That would need to go in the backlog for consi

[2022-01-31 13:52] #1195 closed

[2022-01-31 15:27] hayley-jean opened #3410 "Add emitEnabled as a feature to gRPC ServerFeatures"
`emitEnabled` was previously being incorrectly set by `trackEmittedStreams`. That was fixed recently, but we need to make it possible for clients to handle the change.

Add the `emitEnabled` feature to `/event_store.client.projections.projections/create`

[2022-02-01 07:28] timothycoleman commented on #3410
considering instead making the feature `trackEmittedStreams`

[2022-02-01 11:45] ChrisMcKee opened #3411 "GRPC endpoint doesn't appear to honour authentication"
**Describe the bug**
Connecting via GRPC connection string to an evenstoredb with credentials; the client connects and writes to eventstore ignoring all auth.

Connecting using `"esdb://teamname-test-eventstore-svc.infra.svc.cluster.local:2113?keepAliveTimeout=10000&keepAliveInterval=10000"` behaves the same as connecting with Connecting using `"esdb://admin:changeit@teamname-test-eventstore-svc.i

[2022-02-01 12:55] hayley-jean commented on #3411
Hi @ChrisMcKee, the issue is that you're using the `Address` setting to try and set the connection string. From what I can see in the code, only the host, port and scheme from the address is actually used. This means that the connection is anonymous, which allows it to write.

You can create settings using a connection string with the following:

[code]

[2022-02-01 12:58] ChrisMcKee commented on #3411
It seems to be that and also the default acl just lets anyone write events
![image](https://user-images.githubusercontent.com/83597/151972626-9c68052b-25e9-45ac-964e-5736211b7dca.png)

[2022-02-01 14:23] jageall commented on #3411
@ChrisMcKee the ACL has not changed for user streams since it was added 9 years ago. https://github.com/EventStore/EventStore/blame/a268073c7f738805501df4bb792a501ef8aa952a/src/EventStore.Core/Data/SystemSettings.cs

[2022-02-01 16:14] stellirin commented on #3028
I spent some hours today when I attempted to upgrade from 21.2:

[code]

We run EventStore on Kubernetes where its standard behaviour is to inject to the pod many environment variables about services on the cluster. We have services named `eventstore-1`, `eventstore-2` etc. so the pod gets a range of environment variables such as:

[code]

So `3ServicePortTcpInt` comes from `EVENTSTORE_3_SERVICE_P

[2022-02-02 09:00] oskardudycz commented on #3392
@StevenBlair123, I'm going to close this issue because of the inactivity. I'll reopen it if you find out that's still happening in the `21.10.1` 👍

[2022-02-02 09:00] #3392 closed

[2022-02-02 09:06] oskardudycz commented on #2053
This should be fixed with new LTS versions. Could you try it on it? If you're still facing the issue, I'll reopen it.

[2022-02-02 09:06] #2053 closed

[2022-02-02 09:15] oskardudycz commented on #2629
@sjp, we added retries in the `21.10` version, could you check if you're not getting into that issue while using the latest version? I'm going to close this issue, but if that's still the case, I'll reopen it.

[2022-02-02 09:15] #2629 closed

[2022-02-02 09:20] #2740 closed

[2022-02-02 09:26] oskardudycz commented on #2543
Closing it as there is no v6 anymore and we do not support MacOS native hosting.

[2022-02-02 09:26] #2543 closed

[2022-02-02 09:31] #2520 closed

[2022-02-02 12:42] timothycoleman opened #3413 "Want to swap emit enabled and track emitted streams in the proto"
for creating a projection.

<further description>

also want server to throw when receiving options that set track emitted without setting emit enabled

needs backporting to whichever branches have the change that introduced emitenabled to the proto

[2022-02-02 12:43] timothycoleman commented on #3410
associated: https://github.com/EventStore/EventStore/issues/3413

[2022-02-02 19:25] sjp commented on #2629
Thanks @oskardudycz. We're in the process of upgrading to the latest version.

Fortunately we haven't encountered this issue recently (a lot of factors could contribute to that) but good to know it's fixed.

[2022-02-02 19:45] oskardudycz commented on #2629
@sjp, thanks for the feedback 👌 If you’re also considering migration from TCP to gRPC client; we received recently published a migration guide: https://developers.eventstore.com/clients/dotnet/21.2/migration-to-gRPC.html#appending-events.

[2022-02-04 09:05] oskardudycz commented on #2517
This should be fixed in the newer versions. I'm going to close this ticket, but if you find that still happening in the latest versions, feel free to send the feedback.

[2022-02-04 09:05] #2517 closed

[2022-02-04 09:12] oskardudycz commented on #2547
As @alexeyzimarev noted, we don't have the `--dev` option anymore. You can see how to run the database in the insecure mode in the documentation: https://developers.eventstore.com/server/v21.10/security/configuration.html#running-without-security.

See also client docs:
- TCP - https://developers.eventstore.com/clients/dotnet/21.2/connecting.html#security
- https://developers.eventstore.com/client

[2022-02-04 09:12] #2547 closed

[2022-02-04 09:16] oskardudycz commented on #2523
@fabriciopf, could you clarify what do you mean by

?

Thank you, that'd help us to make decision or provide a better guidance.

[2022-02-04 09:24] oskardudycz commented on #1214
@timothycoleman, do you know if that was already solved, or do we plan to change that in the upcoming changes?

[2022-02-04 09:32] oskardudycz commented on #2114
There were already a few cleanups in the last LTS versions. I created a specific issue to include in the regular QA process.

[2022-02-04 09:32] #2114 closed

[2022-02-04 10:23] #3413 closed

[2022-02-04 10:28] oskardudycz commented on #2548
I'm closing this issue as we no longer support the `EVENTSTORE_DEV` setting.

[2022-02-04 10:28] #2548 closed

[2022-02-04 10:32] oskardudycz commented on #2623
I cannot reproduce the issue in the latest versions. Indeed, if you want to run an insecure cluster, then you should use `--insecure` setting now. See more in documentation https://developers.eventstore.com/server/v21.10/security/configuration.html#running-without-security.

[2022-02-04 10:32] #2623 closed

[2022-02-04 14:53] hayley-jean opened #3417 "Align the projections gRPC proto with RFC021"
Align the gRPC proto with the Projections [RFC021](https://github.com/EventStore/architecture-and-planning/blob/main/rfcs/021%20-%20%5BServer%5D%20gRPC%20Projections.md)

- [ ] Remove `Transient` and `OneTime` projection modes in Creation and List operations from the server proto. The server should still handle these operations to preserve backwards compatibility.
- [ ] Filter out `Transient` and

[2022-02-07 09:07] oskardudycz commented on #2872
It was fixed by https://github.com/EventStore/EventStoreDB-Client-Dotnet-Legacy/pull/3.

[2022-02-07 09:07] #2872 closed

[2022-02-07 09:08] oskardudycz commented on #2626
@timothycoleman, is it something that you plan to cover in your scavenge process improvements?

[2022-02-07 09:11] oskardudycz commented on #2856
@timothycoleman, do you have thoughts on that?

[2022-02-07 09:27] oskardudycz commented on #2975
@JoeMarkov, what type of client are you using, a gRPC one? I think that we won't be exposing heartbeat events for this particular case. We're thinking about adding a similar feature to the gRPC client as it's on TCP client, so getting information when subscription caught up. There's no set deadline for that yet.

[2022-02-07 09:27] #2975 closed

[2022-02-07 09:35] JoeMarkov commented on #2975
I am using the gRPC client in .NET Core.

I just want as a read side to know that I am still connected to the EventStore and that I am "in the loop" with the eventstore.

I guess I should try to, like once every x seconds just ping the eventstore to see that I am still good... somehow...

I just want to make sure that my read-side knows that I am still good and should keep accepting queries.

[2022-02-08 10:26] hayley-jean commented on #2750
This was fixed by https://github.com/EventStore/EventStore/pull/2979
The fix is in both 20.10.4 and 21.10.0.

[2022-02-08 10:26] #2750 closed

[2022-02-09 08:55] hayley-jean commented on #2722
This should have been fixed by https://github.com/EventStore/EventStore/pull/3224

[2022-02-09 08:55] #2722 closed

[2022-02-09 08:57] hayley-jean commented on #2539
The Persistent Subscription NAK and Retry logs should also be looked at as part of this: https://github.com/EventStore/EventStore/issues/2967

[2022-02-09 09:13] oskardudycz commented on #2988
I'm closing it as there are no reproducing steps and ESDB v4 is not supported anymore.

[2022-02-09 09:13] #2988 closed

[2022-02-09 09:16] oskardudycz commented on #3032
@shaan1337 do you have some thoughts on that?

[2022-02-09 09:21] oskardudycz commented on #2604
Closing as it's a duplicate of https://github.com/EventStore/EventStore/issues/3024. See further discussion there.

[2022-02-09 09:21] #2604 closed

[2022-02-09 09:21] oskardudycz commented on #3024
@shaan1337, do you think that https://github.com/EventStore/EventStore/pull/2700 solved this issue and #2604, or is it unrelated?

[2022-02-09 09:30] ylorph commented on #3032
Hi @astorath
While nodes in a cluster do communicate over TLS and perform mutual authentication ,
the `ES-TrustedAuth` is _not_ about node to node communiation , it's for client to node authentication when some intermediary is doing the authentication instead of eventstore .
This header is only valid for the HTTP client<-> server protocol, not the gRPC or TCP protocol
It also need to be enabled on

[2022-02-09 09:44] #3374 closed

[2022-02-09 12:33] #3013 closed

[2022-02-10 10:01] andersflemmen opened #3422 "Rendering structured log messages"
**Is your feature request related to a problem? Please describe.**
Event Store version 20+ logs to file with a templated message not suitable for human eyes, e.g.
`“@mt”: “Connection ‘{connectionName}{clientConnectionName}’ [{remoteEndPoint}, {connectionId:B}] Proactive heartbeat request sent to the remote party since no data was sent during the last heartbeat interval.”`

**Describe the solution

[2022-02-11 09:11] oskardudycz commented on #3404
I'm closing it because of the inactivity. I'll reopen it if we'll get more details. Feel free to send it 👍

[2022-02-11 09:12] oskardudycz commented on #3400
I'm closing it because of the inactivity. I'll reopen it if we'll get more details. Feel free to send it 👍

[2022-02-11 09:26] oskardudycz commented on #3150
@StevenBlair123, I think that this idea is valid, currently, you could filter that out in the projection handling code. For sure we do not recommend using `$` stream name, as those are internal ESDB streams and the handling may change. Still, I think that we should support such feature eventually, I'm not sure tho about when we could work on that.

[2022-02-11 10:16] StevenBlair123 commented on #3150
@oskardudycz  - thanks for the reply.
We have stopped using the $ stream name and filter at the server side for those unwanted events (which unfortunately is millions of events)

[2022-02-11 11:48] timothycoleman opened #3423 "Want non-memory-mapped persistence for StreamExistenceFilter"
While the stream existence filter is flushing (msync) there appears to be a small chance that ordinary writes can be delayed several seconds (highest observed was 25s on ZFS, GCP).

This may be ZFS specific, possibly related (though not identical) to https://github.com/openzfs/zfs/issues/12662 for which reason we recently switched away from memory mapped checkpoints on zfs (https://github.com/Even

[2022-02-14 09:13] oskardudycz commented on #3230
@thefringeninja, do you know if that was done on the database level?

[2022-02-14 09:15] #3265 closed

[2022-02-14 09:21] #3324 closed

[2022-02-14 09:22] #3221 closed, assigned to nobody

[2022-02-14 09:30] oskardudycz commented on #3322
Closing it as a duplicate of #1674

[2022-02-14 09:30] #3322 closed

[2022-02-14 13:19] hayley-jean commented on #3191
Hi @JulianMay this should be fixed in versions 20.10 and 21.10. I'm going to close this issue for now, but if you still experience this on later versions then please reopen

[2022-02-14 13:19] #3191 closed

[2022-02-15 10:07] hayley-jean commented on #1779
This should be fixed in version 20.10 or 21.10. If you're still experiencing this issue then feel free to reopen this

[2022-02-15 10:07] #1779 closed

[2022-02-16 10:06] StepanGrishanov commented on #3404
Sorry, I wasn't able to answer you.
Our configuration is ES cluster included 3 VM nodes in Google Cloud
Nodes configuration
vCPUs - 2
Memory - 7.50GB
BootDisk - 10GB (Standard persistent disk)
DataDisk - 60GB (SSD persistent disk)

[2022-02-16 10:07] StepanGrishanov commented on #3404
DB Version Event Store 21.10.0.0

[2022-02-16 10:23] oskardudycz commented on #3404
@StepanGrishanov, Thank you for the feedback, could you also provide the ESDB configuration and the load characteristics?

[2022-02-16 10:49] StepanGrishanov commented on #3404
` eventstored[11259]: [11259, 1,12:24:05.010,INF] MODIFIED OPTIONS:
 eventstored[11259]:      START STANDARD PROJECTIONS:              true (Yaml)
 eventstored[11259]:      LOG FAILED AUTHENTICATION ATTEMPTS:      true (Yaml)
 eventstored[11259]:      INSECURE:                                True (Yaml)
 eventstored[11259]:      LOG LEVEL:                               Error (Yaml)
 eventstored[11

[2022-02-16 11:48] StepanGrishanov commented on #3404
Average CPU Utilization 5-9%(1 node), 9-33%(2 node), 10-31%(3 node)
Maximum Network Traffic 150KiB/s(1 node), 1.8MiB/s(2 node), 957Kib/s(3 node)
Maximum Disk Throughput (read) 28MiB/s(1 node), 138MiB/s(2 node) 92MiB/s(3 node)
Average Disk Throughput (write) 0.2-0.4Mib/s for earch node

[2022-02-16 12:12] StepanGrishanov commented on #3404
Also we recieve `An event emitted in recovery for stream $category-Account differs from the originally emitted event. Existing('$@', 'C:83471449137/P:83471449137'). New('$@', 'C:83463622827/P:83463622827')` from $stream_by_category projection. I don't know how it depends, but maybe it can be usefull.

[2022-02-16 12:59] timothycoleman opened #3431 "Projection subsystem can still get stuck in 'stopping'"
Very much like was addressed in https://github.com/EventStore/EventStore/issues/2687. It seems that there is another way that this can occur that still remains in 21.10.0

[2022-02-16 18:16] StepanGrishanov commented on #3404
Oh i forgot to write that we have 1 leader and 2 followers. Mabe we should use read only replicas instead followers?

[2022-02-17 16:14] StepanGrishanov commented on #3404
Also today we have seen that bottleneck is CPU on leader. Could you advise optimal machine configuration?

[2022-02-18 09:18] oskardudycz commented on #1927
This should be already resolved.

[2022-02-18 09:28] anthonyMc11 opened #3432 "MergeIndexes endpoint returns class name, not result"
I'm using eventstore  21.6.0.0

reproduction steps:
1. Make a request as the admin user to this endpoint : POST /admin/mergeindexes
2. wait for response

Expected result: a summary

Actual: the name of the class: _EventStore.Core.Messages.MergeIndexesResultDto_

![image](https://user-images.githubusercontent.com/2892217/154655442-b6731503-82e3-4e67-87bb-46d628675c3e.png)

[2022-02-18 21:30] StevenBlair123 opened #3436 "Allow Projections to retry which have Faulted"
**Is your feature request related to a problem? Please describe.**
Projections can fault due to a timeout. Various reasons which could cause this (in my case, too much traffic)

**Describe the solution you'd like**
When creating a projection allow the user to choose to "auto restart" or increase the timeout allowed for projection script execution.

**Describe alternatives you've considered**
Light

[2022-02-18 21:32] StevenBlair123 commented on #3436
Just my experience with this, but I find myself having to jump onto servers just to press the Start button on a faulted projection.
I don't know what else would be expected to happen in this scenario.

From my basic understanding of Projections, each event would be processed one after another, so from that perspective, it's hard to see why we couldn't just retry processing the event, rather than f

[2022-02-20 11:00] StevenBlair123 commented on #3436
I have been digging around in the code, and can see I can easily change the ProjectionExecutionTimeout / ProjectionCompilationTimeout timeouts from the configuration. This might be a short term solution for my problem, but would be interesting to get feedback on this retry idea.

My guess is, ProjectionOptions could be updated to hold the retry criteria:

1. No retry (as it does just now)
2. Unlim

[2022-02-21 09:35] oskardudycz commented on #3432
Thanks, we plan to fix it in an upcoming release.

p.s. I also recommend switching to the LTS release, as `xx.2` and `xx.6` releases are only supported until the next LTS is released. 21.10 contains already a lot of potential fixes and fully working persistent subscriptions to $all.

[2022-02-24 16:32] #3286 closed

[2022-02-24 21:56] pointmax commented on #2706
The eventstore docker container uses user ID 1000. I was mapping the volumes locally and couldn't get eventstore to run. After changing the owner of the folder to 1000 I got it working with local volumes.
[code]
Here's my docker-compose.yml
[code]

Hope this helps anyone

[2022-02-25 12:14] #3423 closed

[2022-02-28 14:42] anthonyMc11 commented on #3432
Thanks, I'll consider upgrading is there a version number the fix is due in?

[2022-03-01 09:40] #3431 closed

[2022-03-01 13:41] mehdihadeli commented on #1852
Hi,
I have a problem with deleting stream in Opera browser, but it works in chrome

[2022-03-02 10:57] StevenBlair123 opened #3442 "Scavenge failed: [object Object]"
Really minor thing.

**Describe the bug**
Hit Scavenge button when a scavenge is already running.

Error banner is displayed with message Scavenge failed: [object Object]

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure a scavenge is running
2. Hit admin from UI
3. Hit Scavenge

**Expected behavior**
Message indicating a scavenge is already running or button is disabled.

**Actual b

[2022-03-03 11:43] shaan1337 commented on #3319
Additional info received in support ticket related to client:
- Clients are long-running and maintain one or more connections to the EventStoreDB server
- .NET TCP client 20.6.1
- Host: Ubuntu 18.04, in kubernetes 1.21.7, with the containerd runtime.
- Container image is based on Ubuntu 18.04 also.

[2022-03-04 10:17] hayley-jean commented on #3436
Hi @StevenBlair123 to answer the initial issue, increasing the `ProjectionExecutionTimeout` is currently the correct way to resolve the error you're seeing. How long the projection code takes to execute depends on what the projection is doing and the load that your system is under, so you'll need to tune that accordingly.

Having an option to retry individual events that failed is an interesting i

[2022-03-04 15:16] kaancfidan commented on #3404
We are also experiencing the same issue with a single instance EventStoreDB 21.10.

I don't think it's even under high load. The database was handling much higher loads when it was 20.06, since we upgraded it to 21.10 on the same machine, the persistent subscriptions started randomly crashing.

There is not visible load on any metrics (CPU, memory, disk or network) but the persistent subscriptions

[2022-03-04 16:31] kaancfidan commented on #3404
@gregoryyoung I have added the log with a little bit of before context below.

Few notes to add context:
- We had recently upgraded this database by simply incrementing the version number in the docker image.
- It had been running fine with 20.06 since December 2020.
- There was almost no event traffic when persistent subscriptions crashed.
- The node this EventStoreDB is running on is a **D4s_v5*

[2022-03-04 16:36] kaancfidan commented on #3404
Yes the services stop working along with the subscriptions.

[2022-03-05 05:55] kaancfidan commented on #3404
We have discovered a service which opened catch up subscriptions but did not dispose them properly.  We have fixed that code path and currently monitoring the situation but it might have fixed the problem.

@gregoryyoung do you think leaking catch-up subscriptions could affect persistent ones?

[2022-03-07 09:16] oskardudycz commented on #3404
@StepanGrishanov, for your case, it looks like the issue might be with the disk performance. Could you try to use a bigger/faster disk and see if the problem still occurs?

@kaancfidan, catch-up subscriptions and persistent subscriptions can potentially affect each other. If subscriptions cannot catch up and go live (so the volume of internal database reads made by subscriptions) may delay each ot

[2022-03-07 16:42] kaancfidan commented on #3404
Thanks @oskardudycz.

It happened once again today and I followed your advice the other way around. I took down the services one by one while the issue was ongoing and identified another problem service.

I am very much convinced that the problem was related to this bullet point:

But it was our messy implementation with the new client. Thanks for your time.

[2022-03-08 15:35] StevenBlair123 opened #3449 "Persistent Subscription stopped at last checkpoint"
**Describe the bug**
Persistent subscription Checkpoint is 950052 and Known is 1032562
Tried reconnecting Persistent Subscription, and it will not process any events.

Digging around, I can see the source stream is being written to (i.e. Known is going up)

The Checkpoint stream has this:

"950052"

Look at the source stream, I can see scavenged data. My guess is this is related to the problem:

!

[2022-03-09 23:05] Aethon opened #3450 "AppendToStreamAsync hangs when eventData enumerable throws an exception"
**Describe the bug**
When calling `AppendToStreamAsync`, if the `eventData` enumerable throws an exception, the call does not return or throw until the gRPC client times the operation out. The exception from the timeout does not contain any detail from the enumerable exception.

**To Reproduce**
Steps to reproduce the behavior:
Run this code
[code]

**Expected behavior**
The original "bad data" ex

[2022-03-10 02:21] Aethon commented on #3450
Apologies, this should have been reported against the .NET client project. Reported here:
https://github.com/EventStore/EventStore-Client-Dotnet/issues/203

[2022-03-10 02:21] #3450 closed

[2022-03-10 23:57] VeritasSoftware opened #3451 "API Gateway framework Event Sourcing feature using Event Store"
Hi

I have built an API Gateway framework.

[API Gateway framework](https://github.com/VeritasSoftware/AspNetCore.ApiGateway)

I have built an Event Sourcing feature into this framework.

[Event Sourcing feature](https://github.com/VeritasSoftware/AspNetCore.ApiGateway/blob/master/Docs/README_EventSourcing.md)

I am supporting Event Store in this feature.

The API Gateway talks to the Event Store.

[2022-03-11 00:02] gregoryyoung commented on #3451
A common use case is replaying old events.

How do you intend to handle this? The reason I ask is that this is something where in many situations http might even be **more** efficient than a web socket.

[2022-03-11 00:04] VeritasSoftware commented on #3451
Web sockets allow for streaming to the client.
Plus, SignalR is an industry standard.
Allowing all kinds of apps to be able to hook into event streams.

[2022-03-11 00:05] VeritasSoftware commented on #3451
what do you mean by replaying old events?

[2022-03-11 00:17] gregoryyoung commented on #3451
What if I need to say rebuild a read model? I would need to replay through possibly millions and millions of old events.

[2022-03-11 00:27] VeritasSoftware commented on #3451
The Event Store will be an back end Server. All activities, as you normally do, can be done.

The clients of the API Gateway are not interested in that.
They are users of streams only.

Eg. publishing to & subscribing to a back end stream, are activities the users might be interested in.

[2022-03-11 00:44] VeritasSoftware commented on #3451
However, I can provide an http endpoints for activities,
which the API Gateway users are interested in, if needed.

[2022-03-11 00:49] gregoryyoung commented on #3451
OK so this is just a "live subscription" over a different protocol ... is that correct?

[2022-03-11 00:53] VeritasSoftware commented on #3451
Yes, the API Gateway feature users would require such activities.

The client of the API Gateway, could be a web app,
which will publish/subscribe to the back end stream,
via web sockets.

If you can think of any more, please let me know.

[2022-03-11 05:33] andreygolubkow opened #3452 "EventStore crashed after free space ended"
**Describe the bug**
I have a docker container with EventStoreDB. EventStore crashed when free space ended.

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker container
2. Wait, when space end
3. Delete unnecessary personal files for increase space
4. Reboot OS
5. Try run docker container

**Config/Logs/Screenshots**
[code]

**EventStore details**
 - EventStore server version: events

[2022-03-14 10:44] #2940 closed

[2022-03-15 09:44] StevenBlair123 commented on #3449
Happened again, but noticed if I hit Replay Parked Message, it seems to wake up and start processing again.
Not sure if that helps.
We going to look at writing a process which checks all the persistent subscriptions and replays the parked queue each night to prevent our data being late.

[2022-03-16 12:56] OliWinter opened #3455 "What is the recommended way to "browse" the streams, or do I have to write queries to get the data out?"
What is the recommended way to "browse" the streams, or do I have to write queries to get the data out?

_Originally posted by @mastoj in https://github.com/EventStore/EventStore/issues/2640#issuecomment-962988628_

[2022-03-16 12:59] OliWinter commented on #3455
I reopen this issue, because in v21.06 I'm unable to set 'ENABLE_ATOM_PUB_OVER_HTTP: true'

Or what am I doing wrong ??

[2022-03-16 13:20] OliWinter commented on #3455
Sorry, my fault...
I forgot the 'EVENTSTORE_' prefix.

Now it works.

[2022-03-16 13:20] #3455 closed

[2022-03-17 15:59] kaancfidan commented on #3404
@oskardudycz We have another circumstance where this slow queue problem occurs.

We have a persistent subscription which has very slow consumers (some events take a few minutes to process and acknowledge). This service causes the same problem if these slow processed events happen to occur very close to each other.

Are persistent subscriptions not a good fit for slow running consumers? We could ea

[2022-03-21 16:08] deviousasti commented on #3144
Does this mean that transactions in general will be coming to GRPC client?
I'm really optimistic for this change, because process managers are cumbersome to write and maintain.

[2022-03-21 18:47] Narvalex commented on #3144
I can give an example. I'm not a native speaker, please bear with me:
When you only need to be consistent with just a couple of streams, without multi-stream transactions you have to write a process manager that coordinates the successful write on both streams or the cancellation of the entire operation in case of failure (e.g. a concurrent write). Normally you "cancel" an already written stream b

[2022-03-22 01:21] gregoryyoung commented on #3144
What if instead you used deterministic UUIDs for you event IDs?

In this case even if you have a multiple stream write you would just come up again in a failure case etc and "retry it" this would produce the same writes which would then just work due to idempotency.

[2022-03-22 09:49] alexeyzimarev commented on #3144
@Narvalex in many cases, transactions spanning multiple streams indicate a strong smell of a suboptimal design. It's not much different from any other database, where the transaction boundary increases because a single business entity gets distributed across several database objects (rows, documents, etc). It increases the lock size, makes the system slower, and you get deadlocks more often. That'

[2022-03-22 12:38] Narvalex commented on #3144
@gregoryyoung What happen when you retry it and you find out that the current state does not allow any progression, but to reject the command (e.g. maybe in a race condition you lost). You have to "clean up" all dirty streams with compensating events, like a saga. IMHO its basically a rollback written by yourself.

@alexeyzimarev A process manager spans multiple streams. With all due respect sir,

[2022-03-22 13:12] alexeyzimarev commented on #3144
That's not exactly the case. Aggregate boundary _is_ the consistency boundary. If the consistency boundary spans multiple aggregates, it's a design smell.

I rarely use process manages. I used to be a big fan of distributed transactions using sagas and process managers, but I feel less and less need for those, quite complex, mechanical components. Changing orchestration to choreography makes thing

[2022-03-22 13:57] Narvalex commented on #3144
You do agree that there are 'rare' use cases that requires process managers. And process managers usually spans multiple consistency boundaries. So a process manager can not be a design smell just because it might involve multiple aggregates.

Regarding a more concrete example, here is one:
A client wants you to delete all his personal info, not in a GDPR way, but to mark him as "not visible" or "

[2022-03-22 14:04] gregoryyoung commented on #3144
"A client wants you to delete all his personal info, not in a GDPR way, but to mark him as "not visible" or "deactivated" is enough."

Wouldn't you just mark them as not visible/deactivated and if removing data later do it as part of that process? Why does this need to span many aggregates?

[2022-03-22 14:14] Narvalex commented on #3144
Because you have diferent read model projections, analytics that only listen to a specific stream?

[2022-03-22 16:16] gregoryyoung commented on #3144
"Because you have read models that only listen to a particular stream. You want them to be notified too but you might not want them to subscribe to another stream. Just tell them that this info should be deleted by publishing an event to the stream they are already listening to."

But you can do this today without multi-stream transactions. Projections in fact provides numerous examples of doing p

[2022-03-22 16:32] alexeyzimarev commented on #3144
I always, by default, subscribe to `$all`. Why would you only project from a "particular stream"? I tend to see subscriptions to, for example, `$ce-Blah` as an anti-pattern (useful, but very limited).

[2022-03-22 17:13] Narvalex commented on #3144
Your are both right regarding the read model and subscriptions models, I agree.  But regarding the following solution

Please be honest and analyze all the artifacts that you need to define in other to make this work:
You need to build an aggregate just to handle the request. This is not choreography anymore. This is a coordinator, a process manager, a saga, an orchestration. You name it. This ent

[2022-03-22 17:22] alexeyzimarev commented on #3144
I often see process managers managing its state, which looks like a missing concept of the domain model. As you might have noticed, I wrote my comment right after you posted your case. Of course, I don't have your domain knowledge, and I didn't use any time to elaborate on the model, etc. What I am _trying_ to show is that you have options, which _for me_ look as a viable alternative.

The main is

[2022-03-22 17:51] Narvalex commented on #3144
Thanks for your answer @alexeyzimarev . Transactions are meant to be optional, not mandatory. A good alternative, not the only solution. Transactions coupling could be easily discarded when needed by introducing an orchestrator, or a choreography between aggregates. I repeat, _if needed_. You start dead simple, and when performance or requirements hurts, _**then**_ a process manager or saga can be

[2022-03-23 00:01] gregoryyoung commented on #3144
"Transactions are meant to be optional, not mandatory. A good alternative, not the only solution. Transactions coupling could be easily discarded when needed by introducing an orchestrator, or a choreography between aggregates. I repeat, if needed. You start dead simple, and when performance or requirements hurts, then a process manager or saga can be easily introduce. "

Can you define what a sag

[2022-03-23 03:53] Narvalex commented on #3144
@gregoryyoung Of course you know that Hector Garcia-Molina and Kenneth Salem wrote about Sagas. But, what I understood basically it that with the Sagas pattern we have a coordinator that tries to commit all steps of a long lived transaction. If any of those steps fails, then a compensating transactions are applied to try to revert the failed operation to a state that is closer to the one before th

[2022-03-23 04:03] Narvalex commented on #3144
I know. In the aforementioned video Martin Kleppmann was talking about microservices. But that is exactly the point. Microservices suffer of this problem of having to intereact whit each other with the constraint of not being able to be ACID without distributed transactions. But if I have a monolith that is good enought, why would I add the burden of orchestration and such? Why not just have a tra

[2022-03-23 04:12] gregoryyoung commented on #3144
Wow I have almost forgotten what he looked like ... Its been some time since we sat together.

However.

The assured idempotency is really what you are seeking. Give it a try you might even be surprised how well it works. If you provide a stream and a position it is 100% assured. #NotMakingThisUp try writing an example to ... show a failure.

[2022-03-23 04:52] Narvalex commented on #3144
That would be nice 😊 Thanks for your kindness

[2022-03-24 09:09] #3451 closed

[2022-03-24 14:58] gregoryyoung commented on #3144
@Narvalex I will be available at 1230 EST (90 minutes from now) if that works for you?

[2022-03-24 15:17] rmfaheem opened #3457 "User Activity Monitoring"
This feature is needed primarily to track users and connections. Because of security requirements/company policies it is necessary to rotate user passwords and seamlessly propagate the changes to clients.

The details should ideally be available via the stats or some other HTTP endpoint for easy monitoring.

<sub>[DB-39](https://linear.app/eventstore/issue/DB-39/user-activity-monitoring)</sub>

[2022-03-24 17:58] Narvalex commented on #3144
@gregoryyoung It's a shame that I'm very busy, it would have been very interesting to see your way of solving this.
Anyway, the truth is that I have an implementation of idempotency very similar to what you mentioned last time. I simply store the position of the incoming (causing) event in the metadata of the new event that I emit as a reaction to the incoming event. This allows me to rehydrate th

[2022-03-24 19:02] alexeyzimarev commented on #3144
I am honest, not sure where this comes from.

I will try one last time. I don't know your domain. What I meant by my proposal is to ignite the model crunching process, as I suspect that you have a missing domain concept, and you're trying to technically solve it. I've seen it 100+ times. I've supervised the implementation of GDPR deletion requests (I know it's not your case), and it was done using

[2022-03-30 12:42] ZhiXingHeYiApple opened #3461 "Kubernetes Operator for eventstoredb"
Is there any progress on a release date for the Kubernetes Operator solution mentioned in the [official helm chart documentation 7](https://github.com/EventStore/EventStore.Charts)?

[2022-04-01 18:59] StevenBlair123 opened #3465 "Persist datetime when an event was published"
We have debugging a problem on one of our system where events are are being parked on a Persistent Subscription, but no errors are being thrown (99% sure no errors have happened), so we are working on the assumption that a timeout has occured.
Flooded the consuemr with trace, and the events are processed fairly quick (under 1 second)
The persistent subscription is using default timeout (10 seconds

[2022-04-01 20:53] gregoryyoung commented on #3465
OK so this would not be very difficult _**except**_ there is a detail missing here.

What would you expect to happen in a node restart/master switch in a cluster?

[2022-04-02 13:04] StevenBlair123 commented on #3465
So the event is inflight, and the node restarted during this?
I don't know for sure, but would the link metadata still be written in this scenario?

[2022-04-04 08:13] ylorph commented on #3465
The server sets an expiry time (based on the subscription's `MessageTimeout`) on each message it sends to the consumer.
Note that if a batch of messages are sent at once, they will have _the same expiry time_ regardless of when the consumer starts processing them.

This means that it is possible for a batch of messages to be sent to the consumer and for some of them to time out because the consume

[2022-04-04 08:27] ylorph commented on #3461
As stated in the [repository](https://github.com/EventStore/EventStore.Charts) we have no immediate plan to update the helm chart.
We need to gather more information on how users are deploying & configuring EventstoreDB  in K8S  as well as typical workloads in such environment, before we can make progress on this.

Can you give a bit more info on what you're trying to achieve ?

[2022-04-04 08:34] ylorph commented on #3452
Note  this is not a data loss scenario: the appends were not ackked to clients.

for a single node this can be recovered by copying the chaser checkpoint (`chaser.chk`) over the truncate checkpoint (`truncate.chk`)

We have an internal issue to handle those cases more gracefully

[2022-04-04 08:37] StevenBlair123 commented on #3465
@ylorph - I hadn't considered the batch would all have the same datetime to be sent.
I will close this off.

[2022-04-04 08:37] #3465 closed

[2022-04-04 09:11] ylorph commented on #3465
@StevenBlair123 yeah that need better docs.

[2022-04-04 11:33] gregoryyoung commented on #3465
btw just to answer your question:

"When does the Evenstore start keeping track of the timeout for a published event? Is it after it's written to the socket, or could it be before that (perhaps on the message handler) and any delay there is impacting on our 10 seconds."

The tracking of the time starts when the message is dispatched from the competing consumer backend.

This is important to occur

[2022-04-06 09:25] rmfaheem opened #3466 "Changes to the log rotation config are not printed out at the start"
**Description**
The effective configuration printed out at the start of EventStore does not contain the changes to the log rotation settings. Those remain in the "DEFAULT OPTIONS" category at the bottom.

Good news is that log files are being rotated successfully in the background.

**To Reproduce**
1. Configure log rotation via the ES Config options
2. Start EventStore

**Expected behavior**
The

[2022-04-08 03:25] kodeine opened #3468 "HTTP 204 returned from /health/live endpoint is unsuitable for Google Kubernetes Cloud healthcheck"
**Describe the bug**
Google Cloud does not allow you to configure the behavior of its health checks, other than the endpoint, it requires a 200 response. This means that the "/health/live" endpoint, which seems intended for this sort of use case, can't be used on this cloud provider. The return code should be changed to 200, either by default, or by adding a param to the endpoint.

**Expected beha

[2022-04-08 03:26] kodeine commented on #3461
same here we are trying to use in Kubernetes, basic requirements but i think charts should be supported.

[2022-04-08 06:49] rastrup opened #3471 "Thread locks up when reading beyond latest event"
If we try to read past the latest event the thread locks up.

Have a stream with 5 events.
Read from the 6th event and forward, eg:
`var result = await client.ReadStreamAsync(Direction.Forward, "streamName", 5, long.MaxValue);`
Asserting the result:
[code]

Expectation: either an error/exception or an empty result

Actual: A task that never finishes.

 - EventStore server version: 20.10.5

 - Oper

[2022-04-09 09:50] kodeine commented on #3404
@kaancfidan are u using docker or kubernetes for your prod environment for eventstore? I think using it with docker has its own limitations

[2022-04-11 08:08] ylorph commented on #3466
@rmfaheem could you add the sample config you're using ?
Thanks.

[2022-04-11 08:18] ylorph commented on #3449
@StevenBlair123  are there actually parked messages when you hit the replay parked messaage or is it empty  ?

[2022-04-11 09:17] rmfaheem commented on #3466
[code]

Should be something like this, but I tested it again just now and it seems to be working fine on all releases of v21.10. I've no idea why it wasn't working previously.

Can anyone else reproduce it?

[2022-04-11 10:31] ylorph commented on #3468
Live vs readiness probes

[2022-04-12 03:31] kodeine commented on #3468
Its not for Kubernetes its for google compute instance. For kubernetes live probes can work but not for compute instance healthchecks.

[2022-04-12 18:54] StevenBlair123 commented on #3449
@ylorph - there were parked messages on all occassions (it's happened a few more times)

[2022-04-12 18:56] gregoryyoung commented on #3449
Can we try to see what happens if there are not parked messages? I know this can be a bit tricky to deliberately run into but I am curious what the behaviour would be.

[2022-04-12 19:05] StevenBlair123 commented on #3449
When (if) the problem happens again, I will check each persistent subscriptions parked queue and report back.

[2022-04-12 23:55] RauleHernandeza opened #3469 "Unable to start Kestrel"
**Describe the bug**
Unable to perform configuration

**To Reproduce**
Steps to reproduce the behavior:

1. I downloaded the 21.10 version through chocolatey
2. I proceeded to configure event store through the configuration tool (https://configurator.eventstore. com/)
3. Created the folders as indicated (C:ESDB, C:ESDB/Logs, C:ESDB/Index, C:ESDB/Data)
4. Create certificates with a certificate tool

[2022-04-13 08:15] oskardudycz commented on #3469
@RauleHernandeza, could you make sure that you don't have another application running at the `2113` port? Is there a specific reason why did you change the Internal TCP Port to `1117`?

[2022-04-13 16:59] RauleHernandeza commented on #3469
Good, thanks for answering, yesterday I kept trying to find out why I was getting this error, it turns out that changing the TCP address to 1112 and placing files in several places I managed to overcome the problem of starting kestrel, but now it turns out that when I run the command to designate the configuration file, it keeps loading without finishing applying these changes. Here are the images

[2022-04-14 12:39] StevenBlair123 commented on #3449
Right, it's happened again:

![image](https://user-images.githubusercontent.com/13871941/163391438-ab0ffa01-1e53-4274-b51c-710fd84e6d65.png)

The last checkpoint written looks like this:

![image](https://user-images.githubusercontent.com/13871941/163391826-56241eff-8c36-435a-a61a-de76bf3cee2f.png)

Parked queue does have message (last written to on 6th April 2022 14:12:30)

Included the stream th

[2022-04-14 12:47] gregoryyoung commented on #3449
Anything in logs?

[2022-04-14 12:50] StevenBlair123 commented on #3449
[log20220404.zip](https://github.com/EventStore/EventStore/files/8489270/log20220404.zip)

here are all the log files.
Couple of projections which had faulted (but were successfully restarted)

[2022-04-19 08:42] hayley-jean commented on #3469
@RauleHernandeza Thanks for the update, it's good that you got the kestrel server running

The screenshots in your last message look like everything is starting up correctly. There are no additional logs after the ones you show because the server is idle.

You can check that it's working by browsing to the admin UI at https://127.0.0.1:2113, or by connecting to it using one of the gRPC clients.

[2022-04-19 11:06] purefun commented on #2380
[code]

[2022-04-19 13:03] timothycoleman opened #3472 "Writes incorrectly acked during leader election"
If a leader has pending writes that have not yet been replicated, loses quorum, re-connects to the cluster, finds that a new leader has been elected, and finds that the replicated log position has been advanced by the new leader to beyond the pending writes, and those pending writes have not expired - then the old leader will (incorrectly) ack those writes back to the client before (correctly) goi

[2022-04-20 08:04] oskardudycz commented on #3461
We don't have plans to provide either Helm Chart or Operator at the moment. This may come in the future.

[2022-04-20 08:04] #3461 closed

[2022-04-20 08:07] oskardudycz commented on #3319
@rmfaheem  @shaan1337 any update on this? If we don't have more reproduce steps then we should close it.

[2022-04-20 09:34] StevenBlair123 opened #3473 "InvalidCastException - Unable to cast object of type 'System.Int64' to type 'System.Int32"
**Describe the bug**
Attempting to run a scavenge on a database, and it appears to stop (not update on the UI for a couple of hours now).
The error log has the following error:

_{"@t":"2022-04-20T05:49:24.1192449+00:00","@mt":"Error while processing message {message} in queued handler '{queue}'.","@l":"Error","@i":1948184534,"@x":"System.InvalidCastException: Unable to cast object of type 'System

[2022-04-20 09:47] StevenBlair123 commented on #3473
Guessing this is the culprit:

[code]

[2022-04-20 10:48] ssttgg commented on #3473
FYI we have also seen this same error on V21.10.2, although it is not stopping us from starting scavenges. In our case it happens on startup of a node as it tries to complete unfinished scavenges.

[2022-04-20 11:01] StevenBlair123 commented on #3473
I am going to make a change to my forked Eventstore, and deploy it to one of our Production servers. Will report back with the results.

[2022-04-22 08:11] ahjohannessen opened #3477 "Metrics for logging"
It would be nice if EventstoreDB could expose a counter for logs and level, e.g. log_entries with level - This would make it relatively easy to define an alert in prometheus for logs that require attention, e.g. error/warn level:
[code]
In general, also derive metrics for log activity:
[code]
or similar.

[2022-04-23 08:18] alexeyzimarev commented on #3477
Although it might be useful to have error metrics, I have never seen the log level counters exposed as metrics. Any decent log collector (Kibana, Datadog, Seq, etc) have the ability to rate log entries per level and build graphs and alerts based on that.

[2022-04-23 10:16] ahjohannessen commented on #3477
@alexeyzimarev I get that, but if one does not have log collectors set up it is a relatively low effort with big reward wrt. alerting when you have metrics set up.

[2022-04-25 08:20] oskardudycz commented on #3322
It was something else and fixed by https://github.com/EventStore/EventStore/pull/3343.

[2022-04-25 13:26] #3473 closed

[2022-04-25 14:53] RauleHernandeza commented on #3469
ok, thanks for the information, effectively now the home page is shown, so that it is of registry to the other people, I comment that the most probable cause of the error of kestrel is that it has not placed in the correct directory the files that event store asks for to run, now a detail that leaves me curious is that to initialize event store now it is asking me for a user and password although

[2022-04-25 15:26] RauleHernandeza commented on #3469
very thanks!

[2022-04-25 15:29] hayley-jean commented on #3469
No problem! I'm going to close this issue for now, feel free to open a new one if you run into any other issues

[2022-04-25 15:29] #3469 closed, assigned to nobody

[2022-04-26 12:02] kaancfidan commented on #3404
Yes we are using Docker to deploy EventStoreDB but it's not included in our Kubernetes cluster. We were aware of the warnings about EventStoreDB sharing resources with other applications and that could be a performance issue. But I don't think there should be any difference with a Docker deployment compared to the good old background services if there is no other application running on the same ma

[2022-04-27 08:27] rastrup opened #3481 "Setting Checkpoint to a previous version fails with exception on 21.10.2 with a Grpc connection"
**Describe the bug**
Trying to update a checkpoint to a previous value fails with exception on a Grpc connection against Event Store 21.10.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a checkpoint with value a.
2. Set checkpoint value a + 1
3. Set checkpoint value a + 2
4. Set checkpoint value a + 1 -> exception

**Expected behavior**
I expect the 2nd set of checkpoint to value

[2022-04-28 06:45] cephos opened #3482 "Docker image based on alpine"
Would it be possible to set up a docker-image based on alpine instead of ubuntu? I hope that a smaller Image than the current 200mb+ would be possible this way.

[2022-04-29 00:24] RauleHernandeza opened #3484 "connection to F#"
Is your feature request related to a problem?
I can't find a way to make a connection between F# and event store, however I have heard that other people have done it and I would like to know how to do it.

**Describe the solution you'd like**
I would like you to add the way to connect to the documentation if there is already a way to do it.

**Describe alternatives you've considered**
I would like

[2022-05-03 08:12] poostwoud commented on #3404
We are considering using EventStore. While load testing (10 runners writing only via TCP) with all system projections running on my dev machine (W10, i5-6300U, 2.40GHz, 8GB RAM, 215GB SSD) we encountered the same exception. Maybe the logs below can help figuring out the issue.

Config

[code]

Errors (with surroundings). It's quite verbose, but it was cool to see the connections recovered themselv

[2022-05-03 12:29] hayley-jean opened #3486 "Group the dump of configuration settings at startup"
As an improvement to PR https://github.com/EventStore/EventStore/pull/3475, it would be useful to sort the dump into the configuration groups, and have the settings arranged alphabetically within the groups.

For example, the `--help` option prints out the groups:

[code]

[2022-05-05 07:34] ahjohannessen opened #3487 "SizeMismatchException after scavenge"
**Describe the bug**
After doing a scavenge on a cluster of 3 the following error was logged.

**Logs**

[code]

**EventStore details**
 - EventStore server version: 21.10.2.0
 - Operating system: Ubuntu 20.04.4

I wonder why this happened and this seems like a bug. My resolution to this was to shut down a node, delete the index folder and start it again.

[2022-05-05 08:08] timothycoleman commented on #3487
Thanks for the report @ahjohannessen.

Yes that seems like some kind of a bug.

Fortunately, the bloom filters for the ptables are a recent performance enhancement and in the above case the server will continue to operate correctly, just without the performance increase of the bloom filter.

If the performance improvement is important to your use case then rebuilding the indexes as you have done w

[2022-05-05 08:54] ahjohannessen commented on #3487
Good to know :)

I am not that concerned with the performance in this case, I just do not like getting errors after a normal maintenance task.

[2022-05-09 08:08] oskardudycz commented on #3404
@poostwoud, could you tell us more about your load characteristics? So what you're doing? The error messages may suggest that disk speed might not be good enough, but it's hard to say without knowing more details.

p.s. is there a specific reason you're using a TCP client? It's considered legacy, and we recommend using gRPC one.

[2022-05-09 08:13] oskardudycz commented on #3481
@rastrup, could you expand on what type of checkpoint you have in mind? And what's the whole context (best if it's also together with the code samples with reproduction).

Could you also provide the details of the internal exception?

[2022-05-09 08:17] #3319 closed

[2022-05-09 09:27] rastrup opened #3491 "Stream Subscription stops receiving messages after timeout"
**Describe the bug**
When using Stream subscriptions, the subscription times out after some time but subscriptionDropped is not being called and no new events are received.

**To Reproduce**
Steps to reproduce the behavior:
Set up a subscription using EventStoreClient.SubscribeToStreamAsync(...)
Let it run for a bit.
A timeout occurs.
The subscription stops receiving new messages but the subscript

[2022-05-09 09:38] rastrup commented on #3481
I will try and make a failing test without user code.
About the internal exception, I have already provided a stack trace.

[2022-05-09 09:42] oskardudycz commented on #3481
Thank you :+1:
Regarding exception, it only contains the main exception. It should have typically also the internal one with more details.

[2022-05-09 11:14] rastrup commented on #3481
There is no inner exception.

[2022-05-09 12:27] rastrup commented on #3481
Failing test (requires xUnit, FluentAssertions, Autofixture and Newtonsoft).
This test fails against Event Store 21.10.2 and not 20.10.5 (and does not fail if implemented on Tcp equivalent against either event store version)

[code]

[2022-05-09 12:37] tqwewe commented on #3379
I've tried installing EventStore DB with the docker-compose installation (`image: eventstore/eventstore:21.10.2-buster-slim`).
It seemed to work just fine, and I can connect to the admin dashboard at `localhost:2113`... though trying to connect to it from Rust, I also get `Error: GrpcConnectionError(MaxDiscoveryAttemptReached(3))`.

[code]

[2022-05-09 12:56] tqwewe commented on #3379
I've solved it.
Add `?tls=false` to your connection info.

[code]

[2022-05-10 12:00] rastrup commented on #3491
It does seem that the subscription starts up again but no events are processed, from the normal log file:
[code]

[2022-05-10 13:06] #3084 closed

[2022-05-10 14:05] rastrup commented on #3491
After the subscription timeouts we also start getting hanged calls reading from the stream and have to use a cancellation token to continue.

[2022-05-10 14:28] StevenBlair123 commented on #3491
@rastrup - could you give me the sample code you used for connecting?
I could try it on one of my evenstore databases and see if the same thing happens?
Is it for every stream you see this, or a specific one?

[2022-05-11 07:38] rastrup commented on #3491
We are connecting with this connection string:
`esdb://<username>:<password>@<servername>:<httpport>&connectionName=<name>&keepAliveInterval=10000&keepAliveTimeout=10000&tls=true&tlsVerifyCert=false`

What we are seeing is this:
We have a test that test our system under some load.
It starts up our system which is a Web Server with 15 background services each containing 1 Subscription to a stream o

[2022-05-12 07:40] rastrup commented on #3491
I am not sure what you mean by using your harness. Do you want me to use it while I run my load test?

The timeouts are not user generated. I don't think we have any part of our event handling that takes very long time. And as written before these timeouts do not occur over a Tcp connection.
We also only see the timeouts on the server side.

[2022-05-12 07:46] StevenBlair123 commented on #3491
@rastrup - yeah if you could my harness against your database. I am keen to see if the same problem occurs (it might make it easier to diagnose)
If you think the timeouts are not needed, its very easy to remove on the harness.

Ultimately, what I would like is you being able to replicate it on the harness, and I cna try to debug it on an database I have (I have the source code open so can debug it

[2022-05-12 10:57] rastrup commented on #3491
I have tried the harness against the database without anything else running on it and it just reads all the events.
I have also tried the harness against the database while our solution is in this timeout state and it just hangs and reads no events.

[2022-05-12 12:37] StevenBlair123 commented on #3491
Any specific errors (server / client)
I wonder if the next route could be to enhance the harness to write lots of events while it's running.

What do you think?

[2022-05-15 08:56] StevenBlair123 commented on #3491
@rastrup - I added a concurrent writer into the harness.
Could you try this?
Obviously not against any production database, unless you want to truncate the test events.

I have ramped up the amount of traffic hitting my local database to 25 catchups and 50 concurrent writers.
Plenty of "SLOW QUEUE MSG" but all catchups behaving as expected.

[2022-05-16 09:58] rastrup commented on #3491
I will see what I can do, since the issue has been discovered in a test scenario we can do a lot of things, including running custom coded event store.

[2022-05-16 12:57] AMontagu commented on #3491
I randomly arrive at this issue but it seem to be a lot like mine if you are using grpc client: https://github.com/grpc/grpc/issues/29561

How many time your tiemout appear ? (me it's 2-3 days without message received) Are you on kubernetes ? Istio ?

[2022-05-16 13:07] AMontagu opened #3492 "Python client for grpc api"
**Is your feature request related to a problem? Please describe.**
Using the new grpc api with Python

**Describe the solution you'd like**
Having a grpc client or contribute to it

**Describe alternatives you've considered**
Developing a python client or developing a less featured event store

**Additional context**
At my company we already have open source repository https://github.com/socotecio

[2022-05-16 13:55] rastrup commented on #3491
I am on an internal server at a company. The issue happens during a load and integration test. We are for this reason not using Grpc in subscriptions in production.

[2022-05-16 17:16] AMontagu commented on #3491
So it's not the same issue than me. Sorry for the step in your issue.

[2022-05-17 12:20] #3487 closed

[2022-05-18 08:51] AMontagu commented on #3492
@ylorph did you receive it correctly ?

[2022-05-18 09:22] ylorph commented on #3492
@AMontagu  yes, just sending you an email with my availabilites , what timezone are you in ?

[2022-05-18 13:56] rastrup commented on #3491
I have tried the updated harness, still the same. It runs fine when running on it's own, but once our eventstore is in the faulty state it halts.

Something to note: it seems from the error log that the timeout occurs inside the Event Store and not in user code, is that a correct observation?
[code]

[2022-05-19 16:45] StevenBlair123 commented on #3491
How big is your database when it get's into this faulted state?
Is it something that could be shared?

[2022-05-20 11:28] rastrup commented on #3491
The Event Store in the test scenario is around 66 GB. It cannot be shared from the client but we can run a custom version of the Event Store with added debug info and others (branch 20.10.5 preferred) and probably also do a shared session.

[2022-05-23 08:18] oskardudycz commented on #3482
Currently, alpine images are available in the GitHub Container Registry, you can check it here: https://github.com/EventStore/EventStore/pkgs/container/EventStore%2Feventstore. When all of the internal QA rounds will confirm that there are no differences to ubuntu ones (currently we haven't found issues) then we'll consider releasing it also to DockerHub.

[2022-05-23 08:23] #3404 closed

[2022-05-23 08:26] #3466 closed

[2022-05-23 09:06] rastrup commented on #3481
I have the constraint that I have an existing Event Store that has stored checkpoints in a certain way and I have to continue reading and writing them that way.

About the complexity of the code: The error is only on Event Store 21.10.2, not 20.10.5 and only when communicating via Grpc, not Tcp. I hoped the code would just serve to trigger the error inside a running version of the Event Store and

[2022-05-23 09:13] oskardudycz commented on #3481
I understand, but as you can see, this looks more like a serialisation issue rather than an issue with gRPC by itself. You can check the linked code and compare the difference to your mapping logic. EventStoreDB doesn't do much besides passing raw bytes. For the guidance around migrating from TCP to gRPC client, you can have a look here: https://developers.eventstore.com/clients/dotnet/21.2/migrat

[2022-05-23 10:05] rastrup commented on #3481
We have followed that guideline and as described did not find an issue here as long as we were using the 20.10.5 version of the Event Store. This setup is running our production right now.
But when trying to move to version 21.10.2 the issue appeared.

[2022-05-25 08:19] oskardudycz commented on #3313
@LindApe it's fixed in the further versions by https://github.com/EventStore/EventStore/pull/3476.

[2022-05-25 08:20] #3313 closed

[2022-05-25 08:22] oskardudycz commented on #3353
@ylorph, this may be worth documenting. I think that we could close these issues in favour of issues in documentation, thoughts?

[2022-05-25 08:23] oskardudycz commented on #3360
@ylorph, I think that issue should be moved to the documentation, as it's expected behaviour.

[2022-05-25 14:29] #3353 closed

[2022-06-03 11:09] rastrup commented on #3491
I am looking inside Enumerators.StreamSubscription.cs in the EventStore Repo and from the error message it is
`await liveEvents.Writer.WriteAsync(appeared.Event, cts.Token).ConfigureAwait(false);`
on line 363 that times out after the 1 second timeout.
What does this line do and what could make it timeout?

[2022-06-03 15:35] StevenBlair123 commented on #3491
@rastrup

I feel like I can replicate your problem now (I have the database running from source)
My gut feeling is, the code in the catch block and CancellationToken are not related to the problem.

My guess is, the call to Unsubscribe cleans up the server side, but does not notify the client (and I cannot work out how that actually happens)

The reason I beleive this, is I modified the code to do

[2022-06-06 13:32] dev-rowbot opened #3497 "Projection stuck in stopping state / cannot be stopped"
**Describe the bug**
As part of our integration testing we needed to make sure our code would handle any issues with the Eventstore cluster. To test we write to eventstore (roughly 2 events a second) and stop the Leader midway through the test to see that the events, streams, and the projections are still operational.

**To Reproduce**
Steps to reproduce the behavior:
1. Write events to eventstore

[2022-06-07 06:46] rastrup commented on #3491
That sounds about right. Also the stream locks up for other readers.

[2022-06-07 09:38] hayley-jean commented on #3497
Thank you @dev-rowbot

Just for clarification, did the projections that were affected go into any sort of faulted state?
If not, we may still want to look into correctly handling exceptions thrown when a projection fails to parse a checkpoint

[2022-06-07 10:20] rastrup commented on #3481
I have reduced the test as much as possible.
Here is a test that fails on EventStore 21.10.2 and not on 20.10.5 when using the Grpc Client:
[code]

[2022-06-07 10:45] jageall commented on #3497
@eugeneduvenage  We have found the root cause for this not working any longer and are testing a fix. We are also looking at a fix to make sure that the parsing failure faults the projection so it can be interacted with.

[2022-06-08 07:51] hayley-jean commented on #3230
@oskardudycz it doesn't look like the next position is being sent from the server yet

[2022-06-08 13:30] condron commented on #3472
@timothycoleman to reproduce this requires an overloaded or unstable leader with frequent elections as a precondition. Possibly some of the older or dev configs might be able to be used, the newer dev and prod clusters have the stability fixes in place so they won't work for reproducing. Check out the new internal monitoring tools to see if you can get a system into the correct state.

[2022-06-08 17:13] gregoryyoung commented on #3472
They should not appear in a subscription etc prior as the checkpoint used was not the writer checkpoint but the replication checkpoint.

This was done for this case among others.

[2022-06-10 01:58] johnbywater opened #3501 "gRPC server error when using FilterOptions and SubscriptionOptions in Streams.Read"
**Describe the bug**
In the gRPC API, the Streams.Read operation fails when a ReadReq has both SubscriptionOptions and FilterOptions. FilterOptions work without SubscriptionOptions. I'm using event_type Expression.

**To Reproduce**
Steps to reproduce the behavior:

Install Python client:
https://github.com/pyeventsourcing/esdbclient#developers

Change the function:
https://github.com/pyeventsourc

[2022-06-10 17:04] AMontagu commented on #3492
Hi @johnbywater

Thank you for the share. I will test it next week. Are you doing this work in collaboration with @ylorph ?

[2022-06-10 17:09] #3472 closed

[2022-06-10 21:44] cflanny commented on #2649
Not sure anything is ever going to change with this.  This is how I ended up working around it:
[code]

It's ugly and terrible, but works.  I guess.  Would be far better to be able to provide a password through environment variables like practically all other cloud-native docker images, but what can ya do...

[2022-06-13 20:26] johnbywater commented on #3492
Hi @AMontagu, looking forward to your feedback :) yes have been discussing this with @ylorph and others quite a lot.

[2022-06-14 16:52] #3492 closed

[2022-06-14 16:58] gregoryyoung commented on #3492
Just as a heads up you can use the persistent subscription over http as well in just a few lines of code if that is your only blocker.

Obviously getting persistent subscriptions working in general would be a **great** thing but if it is an immediate blocker there is a "let's hack this over lunch" solution around things.

[2022-06-18 10:30] raarts commented on #2380
I see that 21.10.2 is the most recent available.

[2022-06-20 22:31] johnbywater commented on #3492
@gregoryyoung if you are willing, perhaps you and I could "hack this over lunch" in Python? It would be great to understand exactly how to make this work in Python as well it was intended to work originally. Just thought I would ask!

[2022-06-21 19:42] johnbywater commented on #3492
Fabulous @gregoryyoung maybe tomorrow?

[2022-06-21 20:14] gregoryyoung commented on #3492
When is lunch for you? :-D 👍

[2022-06-21 22:43] johnbywater commented on #3492
I will DM you on Twitter, see if we can coordinate like that :)

[2022-06-22 18:43] thefringeninja opened #3506 "Projection Fails with NRE"
**Describe the bug**
The following event body
[code]
when applied to the following projection:
[code]

**Actual behavior**
[code]

**Config/Logs/Screenshots**

**EventStore details**
 - EventStore server version: 21.10.5

[2022-06-26 11:15] jageall commented on #3506
This is down to a specific problem with the reduce function.

Unfortunately the javascript engine we are using does not currently support creating a new object with a spreader and setting the property in a single statement. The workaround is to create the new object with the spreader and assign it to a temporary variable, then set the property on the next line, then return the temporary variable.

[2022-06-29 14:44] hayley-jean commented on #3417
RFC not complete

[2022-06-29 14:44] #3417 closed

[2022-06-29 15:31] hayley-jean commented on #2977
We also need to take other caches into account when configuring the streamInfoCache rather than just basing it on the available memory. For example, if you change the chunk cache, there is less memory available to the EventStore process.

[2022-07-04 20:04] dhingrak opened #3512 "[Persistent Subscription] Deletion PS did not handled properly"
**Describe the bug**

The issue happened if the Persistent subscription configuration fails to update during the deletion or update process. In this case, the config for deleted PS would still be there and the user will be able to create duplicate persistent subscriptions.

For more details on this issue, refer to ticket https://eventstore.freshdesk.com/a/tickets/110355

This issue happened at the

[2022-07-05 12:24] anthonyMc11 opened #3513 "please delete issue"
please delete issue

[2022-07-05 15:19] #3513 closed

[2022-07-06 12:59] #3068 closed

[2022-07-08 07:23] ahjohannessen opened #3515 "Packages for Ubuntu 22.04"
Ubuntu 22.04.1 is around the corner. Would be nice to get commercial and oss packages for Ubuntu 22.04.

[2022-07-08 07:32] ahjohannessen opened #3516 "es-cli admin verify_db exit code"
This issue ends up here as es-cli is in a private repo. However, just so that this is picked up by the right people.

I ended up using `es-cli` for restore tests as using esdb itself does not do what I hoped for. `/health/live` starts responding ok before chunks have been verified and, as far as I know, there is no endpoint to check that all chunks have been verified after startup.

When verifying

[2022-07-11 08:22] ylorph commented on #3516
Hi Alex, I've added this to the private repository of the tool as well

[2022-07-11 08:27] ylorph commented on #3515
we should also look for the other distributions
*  Centos / CentOS Stream
* Oracle Linux
* Amazon Linux

[2022-07-19 15:47] lstyles commented on #3028
In the meantime you can add `enableServiceLinks: false` to the pod spec in the template to stop kubernetes from creating those env vars if you don't want/need them.

https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

[2022-07-21 15:57] timothycoleman commented on #3472
For posterity, there was a another bug that caused a similar outcome: writes not fully replicated appeared in subscriptions and were subsequently truncated https://github.com/EventStore/EventStore/pull/3527

[2022-07-22 16:07] timothycoleman commented on #3491
Hi @rastrup  @StevenBlair123, i think quite likely https://github.com/EventStore/EventStore/pull/3532 will fix the behaviour you've seen here

[2022-07-25 11:34] ylorph opened #3534 "Stop ESDB from starting when --config specified but not found"
**Is your feature request related to a problem? Please describe.**
When ESDB is started with --config specified if the file is not found it starts with all defaults on.
 and stops because the default is secure and no config is found
 `Invalid Configuration: A certificate is required unless insecure mode (--insecure) is set`

**Describe the solution you'd like**
The server should not start and tell

[2022-07-25 20:19] lakshdeepsingheventstore opened #3535 "Client unable to resubscribe after leader node failover."
While migrating from TCP to gRPC client, it was reported that occasionally during resubscription after a failover, the call to SubscribeAsync(streamName, groupName) is blocked indefinitely. This call does not time out and hence does not release control back to the code. It has been observed that even after several minute the blocking call still remains blocked, so it doesn't appear to be a timeout

[2022-07-27 13:43] mk185147 opened #3541 "EventStoreDB uses .NET 5 which is not supported by Microsoft"
.NET 5 is out of support by Microsoft from May 10, 2022 and there isn't an EventStoreDb release with newer .NET version.

There is a risk of unfixed security vulnerability in .NET that affects EventStoreDB and solutions using EventStoreDb can have hard time being compliant with security standards and validated according to them.

[2022-07-27 15:05] gregoryyoung commented on #3541
You seem to be slightly confused ... .NET Core 5.0 is what is used.

.NET 5.0.5 was released about 90 days ago.

[2022-07-27 16:48] Narvalex commented on #3541
[Microsoft  dropped "Core" from the name.](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-5)
[.NET 5 is out of support, indeed.](https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core)

[2022-07-28 13:49] StevenBlair123 opened #3544 "Query window enhancement"
**Is your feature request related to a problem? Please describe.**
When I hit the Query button when browsing a stream, a simple skeleton query is displayed, but I have to fill in $init / $any etc

**Describe the solution you'd like**
When I hit the query button, I would like the following:

1. The default query to have $init and $any bodies populated
2. Option to save a query (perhaps linked to th

[2022-07-29 19:48] andriykohut commented on #3492
@gregoryyoung Just seeing that I'm not the first one who tried this 🙂

I've started my own implementation here: https://github.com/andriykohut/esdb-py

It still very much work in progress, but it supports persistent subscriptions (only reading and creating for now) and async stuff.

It's a bit tricky to guess what some of the exposed parameters do in some cases, because there's no good documentati

[2022-07-29 19:53] gregoryyoung commented on #3492
@andriykohut I wrote the persistent subscription implementation, I can discuss it with you if you want. I am fairly available mostly in EST hours. I can jump on a call in 15-30 if that works for you.

[2022-07-29 20:23] andriykohut commented on #3492
Thanks @gregoryyoung! I think persistent subscriptions are covered and definitely not the hardest part, I'm mostly having trouble with filtering as there's a ton of possible combinations of read request parameters. As for persistent subscriptions - I only need to add the UD part of CRUD and some of the utility methods for listing and info - we usually create subscriptions manually via UI or using

[2022-07-30 20:39] andriykohut opened #3547 "Deleting a stream using gRPC produces an incorrect error"
**Describe the bug**
Calling `Streams.Delete` for a stream that doesn't exist or using an unknown revision number produces incorrect error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use `Streams.Delete` on an unknown stream with `Stream exists` expected state, or call a delete on an existing stream with revision that doesn't exist

**Expected behavior**
The error should

[2022-08-01 08:07] ylorph commented on #3547
You' right! Thanks for reporting  this .

[2022-08-01 08:15] ylorph commented on #3541
We are aware of this and working towards a port to .net 6
However don't forget , this is a server side product and should  not be  exposed to the outside world .
Also our own support lifecycle for the latest version ( 21.10.x) is until approximatily 2023-10, so we don't have a real choice there .
The client libraries do work on .net 6 though.

[2022-08-01 08:17] ylorph commented on #3535
see #3543

[2022-08-01 08:24] ylorph commented on #3506
ping @ylorph

[2022-08-01 08:28] ylorph commented on #427
Closing , we're unlikely to support stream metadata in the embedded projection engine .

[2022-08-01 08:28] #427 closed

[2022-08-01 12:57] ZackJaime commented on #3535
@ylorph My apologies in advance for the long wall of text that follows, but I'm not sure that PR is related to the issue we're having. Unless I'm misunderstanding the PR, it's more related to catchup subscriptions, but our issue is with persistent subscriptions.

After having another look through both the client and server logs, it appears to be more closely related to a separate ticket previously

[2022-08-04 06:10] ylorph opened #3550 "Docs: user projections add StreamId to the available attributes on handlers"

[2022-08-05 15:51] #3550 closed

[2022-08-08 12:01] oletolshaveics commented on #3481
I have also investigated this and it seems to be a problem related to idempotent writes (same position and same id as a previous event), but only when the $maxCount of the stream is set to 1 (other values may of course also trigger the problem, but I have not tested that).

I have updated the test posted above as a standalone Console app and simplified it a little bit further. The previous test us

[2022-08-11 12:49] mmuller99 opened #3560 "Recurring silent crash"
**Describe the bug**
Our EventStore instance crashes silently between 30-40 days recurringly.  There are no logs that indicate any error or warning, just shuts down.  We have a large single instance running locally of close to 5TB.

**To Reproduce**
Steps to reproduce the behavior:

1. No steps

**Expected behavior**
EventStore should remain up.

**Actual behavior**
EventStore crashes recurringly

[2022-08-11 17:43] ylorph opened #3562 "Documentation : Version update 22.6"

[2022-08-12 08:59] hayley-jean commented on #3560
Hi @mmuller99, how much memory does the instance have available?
Is it possible that the instance is running out of memory and killing the process?

[2022-08-12 14:11] mmuller99 commented on #3560
Hi @hayley-jean, our server has 64GB and only runs ES.  We do keep 32GB op chunks in mem, but we've never seen the server's memory jump.  We currently have 24GB of mem available.  I initially thought it could be index merges that's the culprit, cause we recently had a big merge into a 184GB index file, so thought prior crashes could be due to that merge failing.  But just this Monday, it crashed a

[2022-08-12 14:22] dreamair commented on #3105
Is there a reason to have authentication/authorization (ACL) depending on HTTPS, other than "forcing" deployments to be secure? If not, I agree with these two aspects should be kept independent.
In addition to separating-concerns in deployment models mentioned before:
- In development I would like to deal with one aspect without the other.
- In automated tests user access control should play its p

[2022-08-12 14:28] mmuller99 commented on #3560
Only error in the logs(and some slow queue msg ones):

![image](https://user-images.githubusercontent.com/13619899/184375080-8f02d1bd-8f38-4b7f-959f-d75a22fd7e0c.png)

But these crashes have been occuring before the bloom filters for the index files were introduced

[2022-08-15 12:28] hayley-jean opened #3565 "Improve error when a port is not provided with the gossip seed configuration"
If you forget to include the gossip port when setting the gossip seed configuration for the node, the node crashes with an unhelpful error.

[code]

The error should instead tell the user that they need to specify the ports in the gossip seed. In this case, the correct configuration would be:

[code]

[2022-08-15 13:48] hayley-jean commented on #3560
@mmuller99 Thanks for the additional info

While the index merges are unlikely to be the cause, you may want to set the `MaxAutoMergeIndexLevel` setting to a lower value to prevent such large index merges from occurring. You can read more about the indexes in the docs [here](https://developers.eventstore.com/server/v21.10/indexes.html#indexing), and about the `MaxAutoMergeIndexLevel` setting [here

[2022-08-16 07:59] timothycoleman commented on #3560
@mmuller99 in addition to what @hayley-jean has suggested, you could try setting the stream info cache size. the default of `0` causes it to be dynamically sized on startup according to available memory (you'll find the results of this calculation in the log) but it doesn't take into account the size of the chunks cache so is likely sizing it too large for you (this is something we will be fixing)

[2022-08-16 09:20] mmuller99 commented on #3560
Thanks @hayley-jean @timothycoleman.

@timothycoleman, the stream info cache size does calculate too high.  Will fine tune appropriately, thanks.
![image](https://user-images.githubusercontent.com/13619899/184833645-9fd357b9-95bf-4bc3-98ca-f77d8827a6b6.png)

Will revert back with results

[2022-08-17 08:05] #3562 closed

[2022-08-17 08:17] ylorph commented on #3515
Preview Package for Ubuntu 22.04 are available with EventStoreDB 22.6  ( interim release)
https://www.eventstore.com/downloads#releases

If we don't find any issue it will probably be official with EventStoreDB 22.10 (next  LTS release)

Will close this issue for the time being

[2022-08-17 08:17] #3515 closed

[2022-08-17 08:22] ylorph commented on #3497
Closing as this has been fixed with #3499

[2022-08-17 08:22] #3497 closed

[2022-08-17 08:28] ylorph commented on #3491
@rastrup , @StevenBlair123 : the fix is available in 21.10.7 (LTS release)  & 22.6 (interim release)

[2022-08-17 08:35] rastrup commented on #3491
Confirmed, 21.10.7 fixes this issue.

[2022-08-19 09:04] jamesmintram commented on #3534
I took a look at this and see that a solution is not obvious.

By the time it comes to loading the config yaml, all of the configuration sources have been merged (Default, Command Line and Env) The Default configuration contains an entry for Config.

So a simple "The config file does not exist" check is not enough to determine an error due to a default being present.

One approach to this would be

[2022-08-19 14:43] PaskeS commented on #3560
@mmuller99 I have seen one case of this on V21.10.2 which we have upgraded to 21.10.7 and still believe it to be an issue. We are running with a stream info cache size of 100000 which was the default on V5 where we did not see this issue.

The only thing we have seen from the logs is that seems to be a steady increase in the "SLOW" messages being logged as time goes on up until it restarted (over

[2022-08-19 15:21] mmuller99 commented on #3560
Hi @PaskeS, thanks for reaching out.  Looking at our logs leading up to the crash, the amount of `VERY SLOW QUEUE MSG` messages does not seem to scale more and more as time goes on.  Unfortunately our workflows sometimes do full stream reads and some very old events are quite big +- 3mb and I believe they are a possible culprit in our messages.

What is your DB age and size?  Would you mind droppi

[2022-08-19 16:05] PaskeS commented on #3560
This particular cluster is 1TB and 5 years old. In terms of the logs what we saw was an uptick in ```SLOW QUEUE MSG``` && ```SLOW BUS MSG``` in the weeks following up to it. And then about 5 seconds before it crashed we saw ```VERY SLOW QUEUE MSG```

Config:
[code]

[2022-08-19 16:14] mmuller99 commented on #3560
Thanks @PaskeS, nothing stands out to me.  What environment is your cluster running in?

[2022-08-19 16:25] PaskeS commented on #3560
@mmuller99 We saw this in our live environment which made it very noticable

[2022-08-19 16:28] mmuller99 commented on #3560
Apologies, meant physical env.  We're running Ubuntu 20.04 with docker using `21.10.7-buster-slim` image.

[2022-08-19 16:29] PaskeS commented on #3560
This is on windows so if it is the same issue then negates the physical env aspect

[2022-08-19 16:35] mmuller99 commented on #3560
Thanks @PaskeS, good thing to be able to negate.

[2022-08-22 13:51] #3565 closed

[2022-08-29 08:16] ylorph commented on #1011
Issue is in the deprecated dotnet Client repo:
https://github.com/EventStore/EventStoreDB-Client-Dotnet-Legacy/issues/63

[2022-08-29 08:16] #1011 closed

[2022-08-29 08:24] ylorph commented on #1173
Closing as this is a really unusual way of using the API .
Suggestion : The original IDs of the the imported events could be stored in metadata.

[2022-08-29 08:24] #1173 closed

[2022-08-29 08:25] ylorph commented on #1214
Closing given the recent Scavange enhancements

[2022-08-29 08:25] #1214 closed

[2022-08-30 15:02] dpasek-senacor opened #3575 "gRPC calls are lost if sent to a cluster node that is in pre-leader state"
**Describe the bug**
While mirgating to the gRPC client we are currently performing in-depth tests of the failover behavior. During these tests we regularily observe gRPC operations on the client side that are not responded by the server during the re-election phase of the server.
This causes these operations to block on the client side as the operation is never receives a response.

Analysing the

[2022-08-31 08:22] #3491 closed

[2022-08-31 08:32] ylorph commented on #3482
@cephos : Alpîne is not on our offically supported list of distributions.
As Oskar pointed we do have the image in github registry:
 https://github.com/EventStore/EventStore/pkgs/container/EventStore
 We do not recommend to use it in production environment.

We don't have any intention to add it to docker hub directly , because we don't offically support it.

[2022-08-31 08:32] #3482 closed

[2022-08-31 13:02] hayley-jean commented on #2539
As a further note to this - Since DEBUG logs are often disabled, we want to make sure that we can diagnose most common issues after the fact based purely on INFO and higher logs

[2022-08-31 13:39] ahjohannessen commented on #3516
@ylorph 👍

[2022-09-01 11:29] ylorph commented on #3516
@ahjohannessen : the download is availble on the conmmecial download site .
=> `verify_db` will return non 0 when an error has been detected .

[2022-09-01 11:29] #3516 closed

[2022-09-01 11:41] ahjohannessen commented on #3516
👍

[2022-09-08 08:43] timothycoleman commented on #3575
Hi @dpasek-senacor, thanks for the detailed information, we were able to reproduce the problem and have a fix coming through the pipeline https://github.com/EventStore/EventStore/pull/3584

[2022-09-08 09:04] dpasek-senacor commented on #3575
@timothycoleman Thanks for the good news. Looking forward to the next server release. 😃

[2022-09-08 13:12] timothycoleman commented on #3535
Hi @ZackJaime, many thanks for the details above and in #110338. We have a server fix in the pipeline that addresses the problem you've experienced https://github.com/EventStore/EventStore/pull/3584

During initialization the client is supposed to receive a 'not ready' response to the requests. Our authentication middleware was querying the database to authenticate the user, which was generating t

[2022-09-08 14:24] ZackJaime commented on #3535
@timothycoleman Thanks for the update, that's great news. I'm looking forward to testing the fix on our system!

[2022-09-12 05:45] ylorph commented on #3105
@dreamair : the reason we need TLS is because we use gRPC , gRPC kind of  requires TLS : for instance the TS / Javascrpt grpc library does not work without TLS

[2022-09-12 08:14] ylorph commented on #2034
- Fix by running the scavenge on the follower
- Fix by updating the checkpoint to the new value in the error message.

- how to detect  -> read the $all at the position in error , check if  ` New('$>', 'C:xxx/xxx')` exists on the current leader but not on the previous one

[2022-09-12 08:23] ylorph commented on #1537
http://localhost:2113/health/live
https://github.com/EventStore/EventStore/blob/master/Dockerfile#L91

[2022-09-12 08:23] #1537 closed

[2022-09-12 08:26] #1739 closed

[2022-09-12 08:27] ylorph commented on #1809
Won't fix as the HTTP AtomPub feed is deprecated

[2022-09-12 08:27] #1809 closed

[2022-09-12 08:28] ylorph commented on #1810
Won't fix as the ATomPub Api is deprecated

[2022-09-20 08:23] mk185147 commented on #3541
What do you mean by "However don't forget , this is a server side product and should not be exposed to the outside world ."? I don't see anywhere in documentation written that it is not secure on contrary I see documentation https://developers.eventstore.com/server/v21.10/security.html with several pages talking how to secure it - but they don't tell that even if I secure it that there will be kno

[2022-09-23 11:23] hg-jarlinghaus commented on #2938
I'm having the same issue with the node client, however it just seems as though running the deleteProjection function fails always regardless of whether or not a projection had been recently created.

[2022-09-28 08:15] ylorph commented on #3541
Don't expose the database directly to internet , at least not without strong firewalls rules.
EventStore Cloud is private peering based .

Security , as you know, is a multi layered approach.

We're actively working on the upgrade, and we're not against getting it into a patch version.

[2022-09-28 08:22] ylorph commented on #1500
This is going to be fixed in the new UI
@George-Payne  => to be checked

[2022-09-28 08:22] #1500 closed

[2022-09-28 09:03] #1802 closed

[2022-10-03 14:35] hayley-jean commented on #2977
@timothycoleman and @shaan1337 does https://github.com/EventStore/EventStore/pull/3569 cover this issue?

[2022-10-04 12:57] pvanbuijtene opened #3600 "CorruptIndexException on Linux when using a database created on Windows"
**Describe the bug**
An `EventStore.Core.Exceptions.CorruptIndexException` exception is thrown when running the server on Linux with a database created on Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a server on Windows.
2. Add data to the running server and make sure the index is saved to disk.
3. Stop the server.
4. Start a server on Linux and use the database previously

[2022-10-04 13:45] timothycoleman commented on #3541
.NET 6.0 support is being added in this pr https://github.com/EventStore/EventStore/pull/3595

[2022-10-05 07:23] dpasek-senacor commented on #3575
@hayley-jean @timothycoleman
We reteste this issue with the newest EventStore-DB release 21.10.8.0 and observe the following behavior:
The request send to the server during the reelection phase are rejected with gRPC Status `UNAVAILABLE: Server not ready`, but this response takes 10s seconds to arrive on the client. We are using the current master of the Java gRPC client and we can see that the gR

[2022-10-06 17:00] pvanbuijtene commented on #3600
Thought I ruled out this being caused by a permission issue, this was not the case so there's no issue... closing.

[2022-10-06 17:00] #3600 closed

[2022-10-07 06:32] timothycoleman commented on #3575
Hi @dpasek-senacor, yes you're right, this is a behaviour we'd like to improve in the near future. You're also right that the 10s is the result of an internal timeout.

Unless you have any objections I'll probably close this issue and open another one about the delayed responses

[2022-10-07 12:33] timothycoleman commented on #3305
Added to master here https://github.com/EventStore/EventStore/pull/3520

[2022-10-10 07:28] dpasek-senacor commented on #3575
Hi @timothycoleman

No objections to moving it to a new issue. On the client side we should be able to handle it using deadlines.

[2022-10-11 11:21] #3512 closed

[2022-10-14 09:45] jakzal commented on #2380
Is there anything we can do to help push a non-alpha release?

I've been using the alpha version of the arm image on my M1 Mac for the past month and found no issues so far.

[2022-10-17 08:55] timothycoleman opened #3617 "Server should send "Server not ready" response quickly"
At the the moment, if the server is not ready (e.g. if it is becoming leader after an election) it will respond 'Server not ready' but only after a timeout of 10s (which is likely to be considerably longer than the amount of time the server is actually not ready for). If it is not ready it should respond as such straight away.

Original report from @dpasek-senacor https://github.com/EventStore/Eve

[2022-10-17 08:59] timothycoleman commented on #3617
@dpasek-senacor
Thanks for the report
This has now been addressed in https://github.com/EventStore/EventStore/pull/3609. If you get a chance would you mind confirming that your issue is resolved? You can check in the latest nightly release https://github.com/EventStore/EventStore/releases

[2022-10-17 09:01] timothycoleman commented on #3575
Thanks! I've opened a ticket for the slow repsonse here https://github.com/EventStore/EventStore/issues/3617

[2022-10-17 09:01] #3575 closed

[2022-10-17 09:10] timothycoleman commented on #3547
This should be fixed in the upcoming 22.10.0 release. I'll close this for now please feel free to re-open if you have further problems
Thanks!

[2022-10-17 09:10] #3547 closed

[2022-10-17 09:25] timothycoleman commented on #3018
This seems to have been fixed somewhere along the way, although the relevant doc is now here https://developers.eventstore.com/server/v20.10/installation.html#use-docker-compose

I'll close this for now, feel free to re-open if you have further problems
Thanks!

[2022-10-17 09:25] #3018 closed

[2022-10-17 09:31] timothycoleman commented on #3432
Hi @anthonyMc11, this is fixed in the upcoming 22.10.0 release (which is also an LTS release). I'll close this for now, feel free to reopen if you have any problems

[2022-10-17 09:31] #3432 closed

[2022-10-17 10:50] timothycoleman commented on #2977
Nah i think the new dynamic sizing is just part of it - preventing it from running out of memory. But it may still be far larger by default than would be optimal for a tyical use case

[2022-10-17 11:16] jakzal commented on #2380
For those who use testcontainers and need to run their tests on multiple architectures, just use the default image in your tests:

[code]

Then, create an image name substitutor to replace it when tests are run on M1 Mac:

[code]

Register the image name substitutor in `src/test/resources/testcontainers.properties`:

[code]

[2022-10-17 13:26] dpasek-senacor commented on #3617
@timothycoleman
Thanks for preparing the fix.

Unfortunately we will probably not be able to do a test with this nightly build as we require either a Docker image or a Debian package for integration testing. The tarball would require adaptions/preparations to our tools/processes. Our time is currently a bit limited to do this. 🤷‍♂️

[2022-10-18 10:38] timothycoleman commented on #3617
@dpasek-senacor ah right, no worries. perhaps we could do with a docker nightly image, I don't think we have one at the moment. Anyway the fix will be in the upcoming 22.10.0 release

[2022-10-18 11:04] arwinneil commented on #2380
Hey @jakzal, one of the main things that was holding up a non-alpha release was moving the database to .NET 6 as it brings significant stability and performance improvements on ARM. This was recently done in https://github.com/EventStore/EventStore/pull/3595, so slowly but steadily moving towards a non-alpha release! Cheers!

[2022-10-19 08:23] FeepingCreature opened #3625 "EventStore 22.6.0 legacy TCP protocol missing fields (typically event_number, also others)"
**Describe the bug**
When connecting with TCP to EventStore 22.6.0, required fields are often missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run EventStore 22.6.0 with `EVENTSTORE_ENABLE_EXTERNAL_TCP=true`
2. Connect with a TCP client, such as [node-eventstore-client](https://github.com/nicdex/node-eventstore-client)
3. Read events from a stream
4. Get errors involving missing `eve

[2022-10-20 11:43] kaancfidan commented on #3404
@oskardudycz We have been talking about this issue over at Event Store Cloud freshdesk tickets. We have identified the source of the problem while using persistent subscriptions to be many events being nacked and retried in close succession.

In our case, it was due to many events being timed out because the client buffer was too large for the corresponding job. It has been confirmed to us as a bu

[2022-10-20 14:05] FeepingCreature commented on #3625
(Wrong PR?)

[2022-10-25 12:37] George-Payne opened #3630 "GRPC: RecordedEvent "created" metadata should be milliseconds since epoch"
Currently RecordedEvent "created" metadata is being returned as Ticks since epoch, but should be milliseconds since epoch.

https://github.com/EventStore/EventStore/blob/master/src/EventStore.Core/Services/Transport/Grpc/Enumerators.cs#L37

[2022-10-26 08:18] ylorph commented on #1865
Consuming Events through Atom PUB  is deprecated
So this will not get fixed

[2022-10-26 08:18] #1865 closed

[2022-10-26 08:20] ylorph commented on #1878
Closing , this is working as intended

[2022-10-26 08:20] #1878 closed

[2022-10-26 08:23] ylorph commented on #1903
Closing as consuming events through the  Atom Pub is deprecated

[2022-10-26 08:23] #1903 closed

[2022-10-26 08:27] ylorph commented on #1776
Closing as this is now a valid case and fixed by #2447

[2022-10-26 08:27] #1776 closed

[2022-10-26 22:24] dshirts-americanlogistics opened #3637 "Crash if uname isnt installed"
**Describe the bug**
Eventstore fails to start if the uname command isnt available. This happens when packagin in a distroless container.

**To Reproduce**
Steps to reproduce the behavior:
1. Replace the runtime images with gcr.io/distroless/cc-debian11:nonroot
2. docker build . -t myeventstore
3. docker run myeventstore

**Expected behavior**
App should start cleanly

**Actual behavior**
Applicat

[2022-10-26 23:45] dshirts-americanlogistics commented on #3637
Step 1 is a bit of a lie. I had to make a few changes to the last 2 stages of the dockerfile. Here is the last 2 stages of my dockerfile-

[code]

[2022-10-27 10:45] alexeyzimarev commented on #3560
Sorry for going sideways, but why do you run ESDB in a container if you have a dedicated machine? The Docker environment has its own constraints, which don't necessarily align with the resources available for the physical machine.

[2022-10-27 10:48] alexeyzimarev commented on #3320
Closing it for now. I haven't been able to test it yet.

[2022-10-27 10:48] #3320 closed

[2022-10-27 10:54] alexeyzimarev opened #3638 "Server-side filter periodic checkpoint should report time also"
**Is your feature request related to a problem? Please describe.**

The problem is when measuring the subscription gap for a filtered subscription. It's typically done by reading the last event from `$all` and comparing its meta with the last received checkpoint. As events in `$all` only provide the commit position, measuring the gap between position values doesn't tell people anything (like `1365

[2022-10-28 06:20] Lougarou opened #3639 "No usable version of libssl was found when running on Ubuntu 22.04"
**Describe the bug**
.NET 5 dynamically loads OpenSSL1.0 and 1.1 but Ubuntu 22.04 comes with OpenSSL 3. Running ESDB versions between 20 - 22.6 would error with "No usable version of libssl was found".

**To Reproduce**
Steps to reproduce the behavior:
1. Run any ESDB version between 20 - 22.6 on Ubuntu 22.04

**Expected behavior**
It should just work

**Actual behavior**
"No usable version of lib

[2022-10-28 10:59] shaan1337 opened #3640 "Updating one time projection source gives an error"
**Describe the bug**

Updating / starting a one time projection that has checkpoints & emit enabled gives the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Write a few events to a stream named `test`
2. Create a one-time projection that reads from stream `test` and run it
3. Update the projection source code and save the projection

The above error will be displaye

[2022-10-28 11:08] shaan1337 opened #3641 "Creating a one time projection with "Emit enabled" but not "Checkpoint enabled" results in an inconsistent state"
**Describe the bug**
Creating a one time projection with "Emit enabled" but not "Checkpoint enabled" results in an inconsistent state.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a one time projection with "Emit enabled" checked but "Checkpoint enabled" not checked.
2. It will show the error:
[code]
3. Now check "Checkpoint enabled" and create the projection again. It says:
[code]

[2022-10-31 15:10] StevenBlair123 opened #3642 "Something is seriously wrong in chunk #"
_{"@t":"2022-10-28T13:00:18.2562300+00:00","@mt":"Error in StorageChaser. Terminating...","@l":"Fatal","@i":3945788006,"@x":"System.Exception: Prefix/suffix length inconsistency: prefix length(196) != suffix length (0).\nActual pre-position: 45670073. Something is seriously wrong in chunk #199-199 (chunk-000199.000000).\n   at_

Eventstore version 22.10.6

Our server ran out of disk space, and onc

[2022-11-01 08:23] StevenBlair123 commented on #3642
https://github.com/EventStore/EventStore/issues/3452

This fixed the problem for us.

[2022-11-03 14:41] stuharper opened #3644 "Issues with migrating to gRPC client."
Hello

We are in the process of migrating to the gRPC client and have a couple of issues.

1)
The documentation could be improved.
For some areas of the migration we are just having to guess what to replace existing functionality with.
For example, the Persistent subscriptions section of the documentation is still a TODO:
https://developers.eventstore.com/clients/dotnet/5.0/migration-to-gRPC.html#

[2022-11-11 10:29] tqwewe commented on #3455
Where do you set `ENABLE_ATOM_PUB_OVER_HTTP`? And did you mean it should be EVENTSTORE__ENABLE_ATOM_PUB_OVER_HTTP`?

[2022-11-16 15:26] dhingrak commented on #2539
Proposed changes for the Log levels that would help in debugging the issues:-
File: EventStore.Core/Index/TableIndex.cs
Log Entry: Log.Debug("File being deleted.")
Comments

<html>
<body>
<b style="font-weight:normal;" id="docs-internal-guid-0588f4d9-7fff-c16e-37b6-d70c68f71b3c"><br /><br /><br /><div dir="ltr" style="margin-left:0pt;" align="left">

Filename | Log Entry | Comments
-- | -- | --
 

[2022-11-16 16:17] dhingrak commented on #2539
Proposed changes to the Debug log levels that can help us to analyze the issue even if the client turn of debugging logs.

<html>
<body>
<b style="font-weight:normal;" id="docs-internal-guid-6684de90-7fff-3ffb-a440-4608eff115ae"><div dir="ltr" style="margin-left:-21.75pt;" align="left">

Filename | Log Entry | Comments
-- | -- | --
EventStore.core/Index/TableIndex.cs | Log.Debug(“File being delete

[2022-11-17 12:16] hayley-jean commented on #2539
We should also decrease the log level of the SSL certificate messages when a TCP connection is made to the server. These should be Trace or Debug rather than Information

[2022-11-18 18:34] jokesterfr commented on #2380
It would be really handy to have a single docker tag, supporting both x86_64 and arm64 :)
Same as above, not experiencing any crash on M1 since months, seems stable so far.

[2022-11-19 19:58] fxshlein opened #3661 "Updating projections with a non-JS handler type using the gRPC client"
**Describe the bug**
When updating projections over gRPC, the server seems to always assume that the projection has the type `JS`. When trying to update the internal projections, specifically `$by_category`, this results in an error: "Line 2: Unexpected end of input".

**To Reproduce**
Using the java client:
[code]
(where `client` is the `EventStoreDBProjectionManagementClient` instance)

**Expect

[2022-11-20 17:52] arwinneil commented on #2380
@jokesterfr Thanks for the feedback, glad to hear that. The plan is to have 1 single multi-architecture image once we officially support ARM64. 😄

[2022-11-22 14:33] ABZ0 opened #3665 "500 when subscribing to $all stream with http api"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Connect to esdb cloud
2. request GET  {url}/subscriptions/$all/{subs-name}/{count}

**Expected behavior**
By default, reading a stream via a persistent subscription returns a single event per request and does not embed the event properties as part of the response.

**Actu

[2022-11-25 09:40] hayley-jean commented on #3665
Hi @ABZ0, thanks for reaching out

Persistent subscriptions to $all are only supported over gRPC using one of the gRPC clients, so it's expected that they won't work over the HTTP API.

That being said, the server should give a proper error response rather than just returning an empty error.
I also see that the warnings about this aren't being shown in the docs, so we'll check that out too.

[2022-11-25 10:08] hayley-jean commented on #3028
We've added a new option, `--allow-unknown-options` which should resolve this. Enabling this option will cause EventStoreDB to simply log out any unrecognised options rather than stopping the server. Check https://github.com/EventStore/EventStore/pull/3652 for more info

It's currently available in version 22.10.0, and will be available in 22.10.9 when it's released

[2022-11-25 10:08] #3028 closed

[2022-11-28 09:11] ylorph commented on #3541
* 20.10.x is now out of support
* 21.10.x will remain on .net 5
* 22.10.x is on .net6 and the one you want to use if you want to be on a supported version of .net ( no breaking changes between 22.10 & 21.10)

[2022-11-28 09:11] #3541 closed

[2022-11-28 09:19] ylorph commented on #1231
Closing as the HTTP service has been changed a lot between 5.x &  22.10.x

[2022-11-28 09:19] #1231 closed

[2022-11-28 09:21] ylorph commented on #1337
closing as this is no longer recommended :
https://github.com/dotnet/runtime/blob/main/docs/project/strong-name-signing.md

[2022-11-28 09:21] #1337 closed

[2022-11-28 09:27] ylorph commented on #1648
same for index merges ?

[2022-11-30 09:29] ylorph commented on #1777
we're unlikely to do this.
- if $maxage / $maxcount , there are bound to be gaps and there is no way to fix that after the fact.
Also this would require to enable on a projection level that users to actually knows
1) they are deleting events
2) they need to set such flag to true.
- and still when the condition of $maxage / $maxcount  is passed, it's too late .
this is also not really an ordering p

[2022-11-30 09:29] #1777 closed